<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Añadir tarea
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-calendar-check
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newTask.name" placeholder="Nombre" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0 pt-3">
                <v-autocomplete
                  v-model="newTask.project"
                  :items="projects"
                  item-text="name"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Proyecto"
                  :return-object="true"
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newTask.user"
                  :items="employees"
                  item-text="user.username"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Trabajador"
                  :return-object="true"
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newTask.type"
                  :items="tasktypes"
                  item-text="description"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Elige el tipo de tarea..."
                  :return-object="true"
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newTask.vehicle"
                  :items="vehicles"
                  item-text="name"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Elige el vehículo..."
                  :return-object="true"
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu1"
                v-model="startDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newTask.date"
                    label="Fecha"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newTask.date"
                  no-title
                  @input="startDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu1"
                v-model="startHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newTask.start_plan"
                    label="Hora de inicio"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="newTask.start_plan" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu1.save(newTask.start_p)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu2"
                v-model="EndHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newTask.end_plan"
                    label="Hora de finalización"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="newTask.end_plan" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu2.save(newTask.end_plan)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-tools
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newTask.equipment"
                  placeholder="Maquinaria"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-safety-goggles
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newTask.epis" placeholder="EPIS" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="12">
              <v-textarea
                v-model="newTask.description"
                label="Observaciones"
                auto-grow
                outlined
                rows="3"
                row-height="25"
                shaped
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="error" @click="dialogActive = false">
            Cancelar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
// eslint-disable-next-line no-unused-vars
import { mapGetters } from 'vuex'
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    EndHourMenu: '',
    startHourMenu: '',
    startDateMenu: '',
    newTask: {
      name: '',
      description: '',
      date: '',
      start_plan: null,
      end_plan: null,
      start_real: null,
      end_real: null,
      project: '',
      type: '',
      user: '',
      albaran: null,
      done: false,
      vehicle: '',
      equipment: '',
      epis: ''
    }
  }),
  computed: {
    ...mapGetters({
      projects: 'projects/loadedProjects',
      employees: 'employees/loadedEmployees',
      tasktypes: 'taskTypes/loadedTaskTypes',
      vehicles: 'vehicles/loadedVehicles'
    }),
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    onSubmit() {
      // Saving the projectname to display the name once is saved
      const projectName = this.newTask.project.name

      // Getting the desired value from the retrived object
      this.newTask.project = this.newTask.project.id
      this.newTask.user = this.newTask.user.user.id
      this.newTask.type = this.newTask.type.id
      this.newTask.vehicle = this.newTask.vehicle.id

      this.$axios.$post('/tasks/', this.newTask).then((data) => {
        // Saving the project name
        this.newTask.projectname = projectName
        this.$store.commit('tasks/addTask', this.newTask)

        // Reseting the form
        const def = resetValue()
        Object.assign(this.$data, def)
        this.dialogActive = false
      })
    }
  }
}
function resetValue() {
  return {
    newTask: {
      name: '',
      description: '',
      date: '',
      start_plan: null,
      end_plan: null,
      start_real: null,
      end_real: null,
      project: '',
      type: '',
      user: '',
      albaran: null,
      done: false,
      vehicle: '',
      equipment: '',
      epis: ''
    }
  }
}
</script>
