/* eslint-disable no-console */
<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Confirmar tarea: {{ task.name }}
        </v-card-title>
        <v-content class="pt-1 pb-0">
          <v-row class="mx-2">
            <v-col cols="6" lg="6">
              <v-menu
                ref="menu1"
                v-model="startHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newTask.start_plan"
                    label="Hora de inicio"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="newTask.start_plan" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu1.save(newTask.start_plan)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col cols="6" lg="6">
              <v-menu
                ref="menu2"
                v-model="endHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newTask.end_plan"
                    label="Hora de finalización"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="newTask.end_plan" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu2.save(newTask.end_plan)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-content>
        <v-card-actions class="pt-0 pb-3">
          <v-spacer></v-spacer>
          <v-btn color="red white--text" @click="dialogActive = false">
            Cancelar
          </v-btn>
          <v-btn color="success" @click="confirmTask()">Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
import { cloneDeep } from 'lodash'
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    task: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    startHourMenu: '',
    endHourMenu: '',
    newTask: {}
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  watch: {
    value() {
      this.newTask = cloneDeep(this.task)
    }
  },
  methods: {
    confirmTask() {
      // eslint-disable-next-line no-console
      this.newTask.done = true
      this.newTask.start_real = this.newTask.start_plan
      this.newTask.end_real = this.newTask.end_plan
      this.newTask.start_plan = this.task.start_plan
      this.newTask.end_plan = this.task.end_plan
      this.$axios
        .$patch('/tasks/' + this.task.id + '/', {
          done: true,
          end_real: this.newTask.start_plan,
          start_real: this.newTask.end_real
        })
        .then((data) => {
          this.$store.dispatch('tasks/updateTask', data)
          this.dialogActive = false
        })
    }
  }
}
</script>
