<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Editar tarea
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-calendar-check
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newTask.name"
                  placeholder="Nombre"
                  :rules="clientRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0 pt-3">
                <v-autocomplete
                  v-model="newTask.projectname"
                  :items="loadedProjects"
                  item-text="name"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Proyecto"
                  :return-object="true"
                  :rules="taskRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newTask.username"
                  :items="loadedEmployees"
                  item-text="user.username"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Trabajador"
                  :return-object="true"
                  :rules="taskRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newTask.typename"
                  :items="loadedTaskTypes"
                  item-text="description"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Elige un tipo de tarea..."
                  :return-object="true"
                  :rules="taskRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newTask.vehiclename"
                  :items="loadedVehicles"
                  item-text="name"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Vehículo"
                  :return-object="true"
                  :rules="taskRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu1"
                v-model="startDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newTask.date"
                    label="Fecha"
                    prepend-icon="mdi-calendar"
                    readonly
                    :rules="taskRules"
                    required
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newTask.date"
                  no-title
                  @input="startDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu1"
                v-model="startHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newTask.start_plan"
                    label="Hora de inicio"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="newTask.start_plan" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu1.save(newTask.start_p)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu2"
                v-model="EndHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newTask.end_plan"
                    label="Hora de finalización"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="newTask.end_plan" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu2.save(newTask.end_plan)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-tools
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newTask.equipment"
                  placeholder="Maquinaria"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-safety-goggles
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newTask.epis" placeholder="EPIS" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="12">
              <v-textarea
                v-model="newTask.description"
                label="Observaciones"
                auto-grow
                outlined
                rows="3"
                row-height="25"
                shaped
                :rules="taskRules"
                required
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
export default {
  name: 'EditTask',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    task: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    newTask: cloneDeep({}),
    project: null,
    username: null,
    type: null,
    vehicle: null,
    taskRules: [(v) => !!v || 'Este campo es obligatorio']
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    ...mapGetters({
      loadedTaskTypes: 'taskTypes/loadedTaskTypes',
      loadedProjects: 'projects/loadedProjects',
      loadedEmployees: 'employees/loadedEmployees',
      loadedVehicles: 'vehicles/loadedVehicles'
    })
  },
  watch: {
    value() {
      this.newTask = cloneDeep(this.task)
      this.project = this.task.projectname
      this.username = this.task.username
      this.type = this.task.typename
      this.vehicle = this.task.vehiclename
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      this.newTask.type = this.newTask.typename.id || this.newTask.type
      this.newTask.project = this.newTask.project.id || this.newTask.project
      this.newTask.user = this.newTask.username.user.id || this.newTask.user
      this.newTask.vehicle = this.newTask.vehiclename.id || this.newTask.vehicle
      this.$axios
        .$patch('tasks/' + this.newTask.id + '/', this.newTask)
        .then((data) => {
          this.dialogActive = false
        })
    }
  }
}
</script>
