<template>
  <div>
    <v-data-table :headers="headers" :items="tasks">
      <template v-slot:item.name="{ item }">
        <nuxt-link :to="'/tasks/' + item.id + '/'">
          {{ item.name }}
        </nuxt-link>
      </template>
      <template v-slot:item.done="{ item }">
        <v-chip v-if="item.done === false" color="yellow grey--text">
          Pendiente
        </v-chip>
        <v-chip v-if="item.done === true" color="green white--text"
          >Realizada</v-chip
        >
        <v-hover v-if="item.done === false" v-slot:default="{ hover }">
          <v-icon
            v-if="item.done === false"
            class="ml-2"
            large
            :color="hover ? 'green' : 'grey'"
            @click="completeTask(item)"
          >
            mdi-check-circle-outline
          </v-icon>
        </v-hover>
      </template>
    </v-data-table>
    <ConfirmTask v-model="dialogstatus" :task="completedTask" />
  </div>
</template>
<script>
import ConfirmTask from '@/components/Tasks/ConfirmTask'
export default {
  name: 'TaskTable',
  components: { ConfirmTask },
  props: {
    tasks: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      dialogstatus: false,
      completedTask: {},
      select: [],
      headers: [
        {
          text: 'Nombre',
          align: 'start',
          value: 'name'
        },
        {
          text: 'Trabajador',
          value: 'username'
        },
        {
          text: 'Proyecto',
          value: 'projectname'
        },
        {
          text: 'Fecha',
          value: 'date'
        },
        {
          text: 'Hora de inicio',
          value: 'start_plan'
        },
        {
          text: 'Hora de finalización',
          value: 'end_plan'
        },
        {
          text: 'Estado',
          value: 'done',
          sortable: false
        }
      ]
    }
  },
  methods: {
    completeTask(item) {
      this.completedTask = item
      this.$data.dialogstatus = true
    }
  }
}
</script>
