<template>
  <div>
    <v-btn
      v-if="isManager"
      class="button-bottom"
      color="secondary"
      rounded
      small
      @click="dialogstatus = true"
    >
      <v-icon small>mdi-plus</v-icon> TAREA
    </v-btn>
    <AddTask v-model="dialogstatus" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import AddTask from '@/components/Tasks/AddTask'
export default {
  components: {
    AddTask
  },
  data: () => ({
    dialogstatus: false
  }),
  computed: {
    ...mapGetters({
      isManager: 'isManager'
    })
  }
}
</script>
<style scoped>
.v-dialog__content {
  margin-top: 0%;
  align-items: center;
}
</style>
