<template>
  <div>
    <ClientsList class="project-page" :clients="loadedClients" />
  </div>
</template>
<script>
import ClientsList from '@/components/Clients/ClientsList'
export default {
  components: {
    ClientsList
  },
  async fetch({ store, context }) {
    await store.dispatch('clients/fetchClients')
    await store.dispatch('clientTypes/fetchClientTypes')
  },
  data() {
    return {
      projects: this.loadedClients
    }
  },
  computed: {
    loadedClients() {
      return this.$store.getters['clients/loadedClients']
    }
  }
}
</script>
