<template>
  <div>
    <v-row>
      <v-col cols="6">
        <v-btn
          class="button-bottom"
          color="secondary"
          rounded
          small
          :to="'/employees/'"
        >
          <v-icon small>mdi-arrow-left</v-icon> EMPLEADOS
        </v-btn>
      </v-col>
      <v-col class="text-right" cols="3">
        <v-btn
          class="button-bottom"
          color="secondary"
          rounded
          small
          @click="editEmployee(employee)"
        >
          <v-icon small>mdi-pencil</v-icon> EDITAR
        </v-btn>
      </v-col>
      <v-col class="text-right" cols="2">
        <v-btn
          class="button-bottom"
          color="secondary"
          rounded
          small
          @click="changePassword(employee)"
        >
          <v-icon small>mdi-lock</v-icon> CAMBIAR CONTRASEÑA
        </v-btn>
      </v-col>
    </v-row>
    <EmployeesResume :employee="employee" />
    <EditEmployee v-model="dialogstatus" :employee="employeeAsProp" />
    <ChangePassword v-model="dialogstatus1" :employee="employeeAsProp" />
    <v-row class="ml-2">
      <v-col class="pt-0">
        <v-row>
          <v-tabs background-color="transparent" color="secondary">
            <v-tab><div class="primary--text">Ausencias</div> </v-tab>
          </v-tabs>
        </v-row>
        <v-row> </v-row>
      </v-col>
    </v-row>
    <AbsencesTable class="pt-0" :absences="loadedAbsences" />
  </div>
</template>

<script>
import EmployeesResume from '@/components/Employees/EmployeesResume'
import EditEmployee from '@/components/Employees/EditEmployee'
import AbsencesTable from '@/components/Absences/AbsencesTable'
import ChangePassword from '@/components/Employees/ChangePassword'
export default {
  components: {
    EmployeesResume,
    EditEmployee,
    AbsencesTable,
    ChangePassword
  },
  async fetch({ store, context }) {
    await store.dispatch('employees/fetchEmployees')
    await store.dispatch('contractTypes/fetchContractTypes')
    await store.dispatch('absences/fetchAbsences')
  },
  asyncData(context) {
    if (context.payload) {
      return {
        loadedPost: context.payload.postData
      }
    }
    return context.app.$axios
      .$get('/userprofiles/' + context.params.id + '/')
      .then((data) => {
        return {
          employee: data
        }
      })
      .catch((e) => context.error(e))
  },
  data() {
    return {
      employeeAsProp: {},
      dialogstatus: false,
      dialogstatus1: false
    }
  },
  computed: {
    loadedAbsences() {
      return this.$store.getters['absences/loadedAbsences'].filter(
        (a) => a.user === this.employee.user.id
      )
    }
  },
  methods: {
    editEmployee(employee) {
      this.dialogstatus = true
      this.employeeAsProp = employee
    },
    changePassword(employee) {
      this.dialogstatus1 = true
      this.employeeAsProp = employee
    }
  }
}
</script>
