<template>
  <div>
    <ProjectList class="project-page" :projects="loadedProjects" />
  </div>
</template>
<script>
import ProjectList from '@/components/Projects/ProjectList'
export default {
  components: {
    ProjectList
  },
  async fetch({ store, context }) {
    await store.dispatch('projects/fetchProjects')
    await store.dispatch('projectTypes/fetchProjectTypes')
    await store.dispatch('projectStatus/fetchProjectStatus')
    await store.dispatch('managers/fetchManagers')
    await store.dispatch('clients/fetchClients')
  },
  data() {
    return {
      projects: this.loadedProjects
    }
  },
  computed: {
    loadedProjects() {
      return this.$store.getters['projects/loadedProjects']
    }
  }
}
</script>
