/* eslint-disable no-console */ /* eslint-disable prettier/prettier */
<template>
  <div>
    <v-card cols="12">
      <v-col>
        <v-row justify="space-around">
          <v-date-picker
            v-model="year['01']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['02']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['03']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['04']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
        </v-row>
      </v-col>
      <v-col>
        <v-row justify="space-around">
          <v-date-picker
            v-model="year['05']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['06']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['07']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['08']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            :events="arrayEvents"
            prev-icon=""
            :readonly="true"
          ></v-date-picker>
        </v-row>
      </v-col>
      <v-col>
        <v-row justify="space-around">
          <v-date-picker
            v-model="year['09']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['10']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['11']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
          <v-date-picker
            v-model="year['12']"
            class="schedule-anual-planning"
            no-title
            multiple
            next-icon=""
            prev-icon=""
            :events="arrayEvents"
            :readonly="true"
          ></v-date-picker>
        </v-row>
      </v-col>
    </v-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      year: {
        '01': ['2020-01'],
        '02': ['2020-02'],
        '03': ['2020-03'],
        '04': ['2020-04'],
        '05': ['2020-05'],
        '07': ['2020-07'],
        '06': ['2020-06'],
        '08': ['2020-08'],
        '09': ['2020-09'],
        '10': ['2020-10'],
        '11': ['2020-11'],
        '12': ['2020-12']
      }
    }
  },
  created() {
    const dataFake = ['2020-01-02', '2020-04-02', '2020-12-02', '2020-10-02']
    dataFake.map((date) => {
      const [, month] = date.split('-')
      // eslint-disable-next-line no-console
      console.log(month)
      this.year[month].push(date)
    })
  },
  methods: {
    arrayEvents(dates) {
      // eslint-disable-next-line no-unused-vars
      const dataFake = ['2020-12-12']
      // eslint-disable-next-line no-console
      console.log(dates)
      if (dates === '2020-12-12') return 'red'
    }
  }
}
</script>
