<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Añadir vehículo </v-card-title
        ><v-container
          ><v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-car
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newVehicle.name"
                  placeholder="Nombre"
                  :rules="vehicleRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-numeric
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newVehicle.plate"
                  placeholder="Matrícula"
                  :rules="vehicleRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-shield-car
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newVehicle.insurance_company"
                  placeholder="Compañía aseguradora"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-format-list-bulleted-type
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newVehicle.insurance_type"
                  placeholder="Tipo de seguro"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-account-details
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newVehicle.insurance_driver"
                  placeholder="Conductor asegurado"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-calendar-range
                  </v-icon>
                </v-avatar>
                <v-menu
                  ref="menu1"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="newVehicle.insurance_expiration_date"
                      label="Fecha expiración del seguro"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="newVehicle.insurance_expiration_date"
                    no-title
                    :first-day-of-week="1"
                    locale="es-es"
                    @input="startDateMenu = false"
                  ></v-date-picker>
                </v-menu>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-tools
                  </v-icon>
                </v-avatar>
                <v-menu
                  ref="menu1"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="newVehicle.itv_date"
                      label="Fecha ITV"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="newVehicle.itv_date"
                    no-title
                    :first-day-of-week="1"
                    locale="es-es"
                    @input="startDateMenu = false"
                  ></v-date-picker>
                </v-menu>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions></v-card
      >
    </v-dialog>
  </v-form>
</template>
<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    newVehicle: {
      name: '',
      plate: '',
      insurance_company: '',
      insurance_type: '',
      insurance_expiration_date: null,
      insurance_driver: ''
    },
    vehicleRules: [(v) => !!v || 'Este campo es obligatorio']
  }),

  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      // eslint-disable-next-line no-console
      this.$axios.$post('vehicles/', this.newVehicle).then((data) => {
        this.dialogActive = false
      })
    }
  }
}
</script>
