<template>
  <v-data-table :headers="headers" :items="vehicles">
    <template v-slot:item.name="{ item }">
      <nuxt-link :to="'/vehicles/' + item.id + '/'">
        {{ item.name }}
      </nuxt-link>
    </template>
  </v-data-table>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'VehiclesTable',
  data() {
    return {
      select: [],
      headers: [
        {
          text: 'Nombre',
          align: 'start',
          value: 'name'
        },
        {
          text: 'Matrícula',
          value: 'plate'
        },
        {
          text: 'Compañía Aseguradora',
          value: 'insurance_company'
        },
        {
          text: 'Tipo de seguro',
          value: 'insurance_type'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      vehicles: 'vehicles/loadedVehicles'
    })
  }
}
</script>
