<template>
  <div>
    <v-row>
      <v-col>
        <v-row style="height: 100px;" align="end" justify="end">
          <v-fab-transition>
            <v-btn
              class="button-bottom"
              color="secondary"
              outlined
              @click.stop="dialogstatus = true"
            >
              <v-icon>mdi-plus</v-icon> VEHÍCULO
            </v-btn>
          </v-fab-transition>
        </v-row>
        <AddEmployee v-model="dialogstatus" />
      </v-col>
    </v-row>
  </div>
</template>
<style scoped>
.v-dialog__content {
  margin-top: 0%;
  align-items: center;
}
</style>
