<template>
  <div>
    <v-card outlined color="white">
      <v-card-title class="primary--text">{{ vehicle.name }} </v-card-title>
      <v-card-text class="pb-1 primary--text">
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-numeric</v-icon> Matrícula:</h4>
            </div>
            <div>{{ vehicle.plate }}</div>
          </v-col>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-shield-car</v-icon> Compañía aseguradora:
              </h4>
            </div>
            <div>{{ vehicle.insurance_company }}</div>
          </v-col>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-format-list-bulleted-type</v-icon> Tipo de
                seguro
              </h4>
            </div>
            <div>{{ vehicle.insurance_type }}</div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-calendar-range</v-icon> Fecha expiración del
                seguro
              </h4>
            </div>
            <div>{{ date(vehicle.insurance_expiration_date) }}</div>
          </v-col>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-account-details</v-icon> Conductor asegurado:
              </h4>
            </div>
            <div>{{ vehicle.insurance_driver }}</div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-tools</v-icon> Fecha ITV:</h4>
            </div>
            <div>{{ date(vehicle.itv_date) }}</div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { format } from 'date-fns'
export default {
  name: 'VehicleResume',
  props: {
    vehicle: {
      type: Object,
      required: true
    }
  },
  methods: {
    date(n) {
      return format(new Date(n), 'dd-MM-yyyy')
    }
  }
}
</script>
