<template>
  <ValidationObserver ref="obs" v-slot="{ invalid, validated, passes }">
    <v-app id="inspire">
      <v-container class="login" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="secondary text--third" dark flat>
                <v-toolbar-title
                  ><v-icon color="third">mdi-clock</v-icon>
                  InTime</v-toolbar-title
                >
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <VTextFieldWithValidation
                    v-model="login.username"
                    label="Username"
                    prepend-icon="mdi-account"
                    type="text"
                    color="secondary"
                    rules="required"
                  />
                  <VTextFieldWithValidation
                    v-model="login.password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    color="secondary"
                    rules="required"
                    autocomplete=""
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn
                  color="primary"
                  outlined
                  :disabled="invalid || !validated"
                  @click="passes(submit)"
                  >Login
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </ValidationObserver>
</template>
<script>
import { ValidationObserver } from 'vee-validate'
import VTextFieldWithValidation from '@/components/Inputs/VTextFieldWithValidation'
export default {
  components: {
    ValidationObserver,
    VTextFieldWithValidation
  },
  data: () => ({ login: { username: '', password: '' } }),
  methods: {
    submit() {
      return (
        this.$auth
          .loginWith('local', { data: this.login })
          // eslint-disable-next-line no-console
          .then((data) => {
            this.$auth.setToken('local', 'Bearer ' + data.data.access)
            this.$auth.fetchUser()
            this.$axios.setHeader('Authorization', 'Bearer ' + data.data.access)
            this.$auth.ctx.app.$axios.setHeader(
              'Authorization',
              'Bearer ' + data.data.access
            )
            this.$store.dispatch('setManager', data.data.ismanager)
          })
          .catch((error) => alert(error.message))
      )
    }
  }
}
</script>
<style lang="scss" scoped>
.login {
  margin-top: 5%;
  padding-top: 10%;
}
</style>
