<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Añade un empleado
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-account
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.user.username"
                  placeholder="Usuario"
                  :rules="employeeRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-account
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.user.first_name"
                  placeholder="Nombre"
                  :rules="employeeRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-account
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.user.last_name"
                  placeholder="Apellidos"
                  :rules="employeeRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-at
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.user.email"
                  placeholder="Email"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-card-account-details-outline
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newEmployee.dni" placeholder="DNI" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-card-account-details-outline
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newEmployee.nuss" placeholder="NUSS" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.street"
                  placeholder="Calle"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.cp"
                  placeholder="Código Postal"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.town"
                  placeholder="Población"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.province"
                  placeholder="Provincia"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-phone
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.telephone"
                  placeholder="Teléfono"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-menu
                ref="menu1"
                v-model="companystartDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newEmployee.company_startdate"
                    label="Fecha de inicio en la empresa"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newEmployee.company_startdate"
                  no-title
                  :first-day-of-week="1"
                  locale="es-es"
                  @input="companystartDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-menu
                ref="menu1"
                v-model="contractstartDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newEmployee.contract_startdate"
                    label="Fecha de inicio del contrato"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newEmployee.contract_startdate"
                  no-title
                  :first-day-of-week="1"
                  locale="es-es"
                  @input="contractstartDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-menu
                ref="menu1"
                v-model="contractendDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newEmployee.contract_enddate"
                    label="Fecha de finalización del contrato"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newEmployee.contract_enddate"
                  no-title
                  :first-day-of-week="1"
                  locale="es-es"
                  @input="contractendDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="pl-4">
                <v-autocomplete
                  v-model="newEmployee.contracttype"
                  :items="loadedContractTypes"
                  item-text="description"
                  outlined
                  dense
                  chips
                  small-chips
                  :return-object="true"
                  label="Elige un tipo de contrato..."
                  :rules="employeeRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-beach
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.hol_generated"
                  placeholder="Días de vacaciones generados"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-beach
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.pmat_generated"
                  placeholder="Días de asuntos propios generados"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-beach
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newEmployee.hol_generated_lastyear"
                  placeholder="Días de vacaciones generados en el ejercicio anterior"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="3">
              <v-row align="center" class="ml-5">
                <v-switch v-model="switch1" :label="'Activo'"></v-switch>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="3">
              <v-row align="center" class="ml-5">
                <v-switch v-model="switch2" :label="'Manager'"></v-switch>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    companystartDateMenu: false,
    contractstartDateMenu: false,
    contractendDateMenu: false,
    switch1: false,
    switch2: false,
    newEmployee: {
      user: {
        username: '',
        first_name: '',
        last_name: '',
        email: '',
        is_active: true,
        password: 'Alzineta2020'
      },
      profile_photo: null,
      dni: null,
      nuss: null,
      street: null,
      cp: null,
      town: null,
      province: null,
      telephone: null,
      company_startdate: null,
      contract_startdate: null,
      contract_enddate: null,
      contracttype: null,
      hol_generated: null,
      hol_enjoyed: 0,
      pmat_generated: null,
      pmat_enjoyed: 0,
      hol_generated_lastyear: null,
      is_manager: true,
      dni_photo: null,
      drivinglicens_photo: null
    },
    employeeRules: [(v) => !!v || 'Este campo es obligatorio']
  }),
  computed: {
    ...mapGetters({
      loadedContractTypes: 'contractTypes/loadedContractTypes'
    }),
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      this.newEmployee.contracttype = this.newEmployee.contracttype.id
      this.newEmployee.user.is_active = this.switch1
      this.newEmployee.is_manager = this.switch2
      this.$axios.$post('userprofiles/', this.newEmployee).then((data) => {
        this.dialogActive = false
      })
    }
  }
}
</script>
