<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Cambiar contraseña
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-lock
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="password.new_password"
                  placeholder="nueva contraseña"
                  type="password"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-lock
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="repeat_password"
                  type="password"
                  placeholder="repetir contraseña"
                  :rules="[
                    password.new_password === repeat_password ||
                      'Las contraseñas no coinciden'
                  ]"
                />
              </v-row>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="error" @click="dialogActive = false">
            Cancelar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
export default {
  name: 'ChangePassword',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    employee: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    password: {
      new_password: ''
    },
    repeat_password: ''
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },

  methods: {
    onSubmit() {
      this.$axios
        .$post(
          'users/' + this.employee.user.id + '/set_password/',
          this.password
        )
        .then((this.dialogActive = false))
    }
  }
}
</script>
