<template>
  <div>
    <v-card outlined color="white">
      <v-card-title class="primary--text"
        >{{ employee.user.first_name }} {{ employee.user.last_name }}
      </v-card-title>
      <v-card-subtitle class="primary--text">
        <div
          v-if="
            (employee.is_manager == true) & (employee.user.is_active == true)
          "
        >
          <h3>Manager - Activo</h3>
        </div>
        <div
          v-if="
            (employee.is_manager == false) & (employee.user.is_active == true)
          "
        >
          <h3>Trabajador - Activo</h3>
        </div>
        <div
          v-if="
            (employee.is_manager == true) & (employee.user.is_active == false)
          "
        >
          <h3>Manager - Inactivo</h3>
        </div>
        <div
          v-if="
            (employee.is_manager == false) & (employee.user.is_active == false)
          "
        >
          <h3>Trabajador - Activo</h3>
        </div>
      </v-card-subtitle>
      <v-card-text class="pb-1 primary--text">
        <v-row>
          <v-col cols="12" sm="4">
            <v-row class="mb-5">
              <div>
                <div>
                  <h4><v-icon small>mdi-account</v-icon> Info Personal:</h4>
                </div>
                <div>
                  <v-icon small>mdi-at</v-icon> {{ employee.user.email }}
                </div>
                <div>
                  <v-icon small>mdi-phone</v-icon> {{ employee.telephone }}
                </div>
                <div>DNI: {{ employee.dni }}</div>
                <div>NUSS: {{ employee.nuss }}</div>
              </div>
            </v-row>
            <v-row class="mb-5">
              <div>
                <div>
                  <h4><v-icon small>mdi-home</v-icon> Dirección:</h4>
                </div>
                <div>{{ employee.street }}</div>
                <div>{{ employee.cp }} {{ employee.town }}</div>
                <div>{{ employee.province }}</div>
              </div>
            </v-row>
            <v-row class="mb-5">
              <div>
                <div>
                  <h4><v-icon small>mdi-briefcase</v-icon> Info Empresa:</h4>
                </div>
                <div>
                  Fecha de inicio en la empresa:
                  {{ date(employee.company_startdate) }}
                </div>
                <div>
                  Fecha de inicio del contrato:
                  {{ date(employee.contract_startdate) }}
                </div>
                <div>
                  Fecha de finalización del contrato:
                  {{ date(employee.contract_enddate) }}
                </div>
                <div>Tipo de contrato: {{ employee.contracttypename }}</div>
                <div>
                  Días de asuntos propios disfrutados:
                  {{ employee.pmat_enjoyed }}
                </div>
              </div>
            </v-row>
          </v-col>
          <v-col cols="12" sm="8" xl="4">
            <div>
              <v-card outlined>
                <v-list class="text-center">
                  <v-list-item>
                    <v-list-item-subtitle>Vacaciones</v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ new Date().getFullYear() - 1 }}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ new Date().getFullYear() }}
                    </v-list-item-subtitle>
                  </v-list-item>
                  <v-divider></v-divider>
                  <v-list-item>
                    <v-list-item-subtitle>Generadas</v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ employee.hol_generated_lastyear }}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ employee.hol_generated }}
                    </v-list-item-subtitle>
                  </v-list-item>
                  <v-divider></v-divider>
                  <v-list-item>
                    <v-list-item-subtitle>Disfrutadas</v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ employee.hol_enjoyed_lastyear }}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ employee.hol_enjoyed }}
                    </v-list-item-subtitle>
                  </v-list-item>
                  <v-divider></v-divider>
                  <v-list-item>
                    <v-list-item-subtitle>Pendientes</v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ employee.hol_pending_lastyear }}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ employee.hol_pending }}
                    </v-list-item-subtitle>
                  </v-list-item>
                </v-list>
              </v-card>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { format } from 'date-fns'
export default {
  name: 'EmployeeResume',
  props: {
    employee: {
      type: Object,
      required: true
    }
  },
  methods: {
    date(n) {
      return format(new Date(n), 'dd-MM-yyyy')
    }
  }
}
</script>
