<template>
  <v-data-table :headers="headers" :items="employees">
    <template v-slot:[`item.user.username`]="{ item }">
      <nuxt-link :to="'/employees/' + item.id + '/'">
        {{ item.user.username }}
      </nuxt-link>
    </template>
    <template v-slot:[`item.active`]="{ item }">
      <v-icon :color="getColor(item.user.is_active)">{{
        getIcon(item.user.is_active)
      }}</v-icon>
    </template>
    <template v-slot:[`item.telephone`]="{ item }">
      <a :href="'tel:' + item.telephone"> {{ item.telephone }}</a>
    </template>
    <template v-slot:[`item.user.email`]="{ item }">
      <a :href="'mailto:' + item.user.email"> {{ item.user.email }}</a>
    </template>
  </v-data-table>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      select: [],
      headers: [
        {
          text: 'Usuario',
          align: 'start',
          value: 'user.username'
        },
        {
          text: 'Nombre',
          value: 'user.first_name'
        },
        {
          text: 'Apellidos',
          value: 'user.last_name'
        },
        {
          text: 'Email',
          value: 'user.email'
        },
        {
          text: 'Teléfono',
          value: 'telephone'
        },
        {
          text: 'DNI',
          value: 'dni'
        },
        {
          text: 'Activo',
          value: 'active'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      employees: 'employees/loadedEmployees'
    })
  },
  methods: {
    getColor(active) {
      if (active === true) return 'success'
      if (active === false) return 'error'
    },
    getIcon(active) {
      if (active === true) return 'mdi-check'
      if (active === false) return 'mdi-close'
    }
  }
}
</script>
