<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="600px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Modificar Registro
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu2"
                v-model="startHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="record.start"
                    label="Hora de inicio"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="record.start" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu2 = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu2.save(record.start)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu3"
                v-model="endHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="record.stop"
                    label="Hora de finalización"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="record.stop" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu3 = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu3.save(record.stop)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success white--text" @click="onSubmit()">
            GUARDAR
          </v-btn>
          <v-btn color="error white--text" @click="cancel()">
            CANCELAR
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
import { cloneDeep } from 'lodash'
export default {
  name: 'EditRecord',
  props: {
    value: {
      required: true,
      type: Boolean
    },
    record: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    startHourMenu: null,
    endHourMenu: null,
    record2: cloneDeep({})
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  watch: {
    value() {
      this.record2 = cloneDeep(this.record)
    }
  },
  methods: {
    onSubmit() {
      this.record2.start = this.record.start + ':00'
      this.record2.stop = this.record.stop + ':00'
      this.$axios
        .$patch('/allrecords/' + this.record2.id + '/', {
          start: this.record2.start,
          stop: this.record2.stop
        })
        .then((data) => {
          this.dialogActive = false
          this.$store.dispatch('records/updateRecord', data)
        })
    },
    cancel() {
      this.dialogActive = false
    }
  }
}
</script>
