<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="600px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Exportar Registro Mensual
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="date"
                transition="scale-transition"
                offset-y
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date"
                    label="Escoger mes y año"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" type="month" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancelar</v-btn
                  >
                  <v-btn text color="primary" @click="$refs.menu.save(date)">
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-autocomplete
                v-model="user"
                :items="loadedEmployees"
                item-text="user.username"
                outlined
                dense
                chips
                small-chips
                label="Elige un trabajador"
                :return-object="true"
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success white--text" @click="onSubmit()">
            EXPORTAR
          </v-btn>
          <v-btn color="success white--text" @click="onSubmitAll()">
            EXPORTAR TODOS
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    value: {
      required: true,
      type: Boolean
    }
  },
  data: () => ({
    date: '',
    menu: false,
    user: ''
  }),
  computed: {
    ...mapGetters({
      loadedContractTypes: 'employees/loadedEmployees',
      loadedEmployees: 'employees/loadedEmployees'
    }),
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    onSubmit() {
      const splitedDate = this.date.split('-')
      const user = this.user
      const year = splitedDate[0]
      const month = splitedDate[1]
      this.$axios
        .$get(
          'monthlyrecord/?user=' +
            user.user.id +
            '&month=' +
            month +
            '&year=' +
            year,
          { responseType: 'blob' }
        )
        .then((res) => {
          const myBlob = new Blob([res], {
            type:
              'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
          })

          const url = window.URL.createObjectURL(myBlob)
          const link = document.createElement('a')
          link.href = url
          link.setAttribute(
            'download',
            'REGISTRO_HORARIO_LABORAL_' +
              user.user.username +
              '_' +
              month +
              '_' +
              year +
              '.xlsx'
          )
          document.body.appendChild(link)
          link.click()
        })
    },
    onSubmitAll() {
      const splitedDate = this.date.split('-')
      const year = splitedDate[0]
      const month = splitedDate[1]
      this.$axios
        .$get('allmonthrec/?&month=' + month + '&year=' + year, {
          responseType: 'blob'
        })
        .then((res) => {
          const myBlob = new Blob([res], {
            type:
              'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
          })

          const url = window.URL.createObjectURL(myBlob)
          const link = document.createElement('a')
          link.href = url
          link.setAttribute(
            'download',
            'REGISTRO_HORARIO_LABORAL_' + month + '_' + year + '.xlsx'
          )
          document.body.appendChild(link)
          link.click()
        })
    }
  }
}
</script>
