<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="600px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Registrar Hora Extra
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu1"
                v-model="date"
                :close-on-content-click="true"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newRecord.date"
                    label="Fecha"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newRecord.date"
                  no-title
                  @input="date = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu2"
                v-model="startHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newRecord.start"
                    label="Hora de inicio"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="newRecord.start" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu2 = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu2.save(newRecord.start)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6" lg="5">
              <v-menu
                ref="menu3"
                v-model="endHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newRecord.stop"
                    label="Hora de finalización"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="newRecord.stop" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu3 = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu3.save(newRecord.stop)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success white--text" @click="onSubmit()">
            GUARDAR
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
export default {
  props: {
    value: {
      required: true,
      type: Boolean
    }
  },
  data: () => ({
    date: null,
    startHourMenu: null,
    endHourMenu: null,
    newRecord: {
      date: null,
      start: null,
      stop: null,
      comment: null,
      isovertimehour: true,
      active: false
    }
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    onSubmit() {
      this.$axios
        .$post('/workingdayrecord/set_overtimehour/', this.newRecord)
        .then((data) => {
          this.$store.commit('dayRecords/addDayRecord', this.newRecord)
          this.dialogActive = false
        })
    }
  }
}
</script>
