<template>
  <div>
    <v-data-table :headers="headers" :items="records">
      <template v-slot:[`item.actions`]="{ item }">
        <v-hover v-slot:default="{ hover }">
          <v-icon
            size="medium"
            :color="hover ? 'blue' : 'grey'"
            @click="editRecord(item)"
          >
            mdi-pencil
          </v-icon>
        </v-hover>
      </template>
    </v-data-table>
    <EditRecord v-model="dialogstatus" :record="recordAsProp" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { format } from 'date-fns'
import EditRecord from '@/components/DayRecord/EditRecord'
export default {
  name: 'RecordsTalbe',
  components: { EditRecord },
  data() {
    return {
      recordAsProp: {},
      dialogstatus: false,
      select: [],
      headers: [
        {
          text: 'Usuario',
          align: 'start',
          value: 'user'
        },
        {
          text: 'Fecha',
          value: 'date'
        },
        {
          text: 'Inicio',
          value: 'start'
        },
        {
          text: 'Fin',
          value: 'stop'
        },
        {
          text: 'Es Hora Extra',
          value: 'isovertimehour'
        },
        {
          text: 'Editar',
          value: 'actions',
          sortable: false
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      records: 'records/loadedRecords'
    })
  },
  mounted() {
    this.records.map((e) => {
      e.date = format(new Date(e.date), 'dd-MM-yyyy')
      e.start = e.start.substring(0, 5)
      if (e.stop) {
        e.stop = e.stop.substring(0, 5)
      }
      if (e.isovertimehour) {
        e.isovertimehour = 'Sí'
      } else {
        e.isovertimehour = 'No'
      }
    })
  },
  methods: {
    editRecord(item) {
      this.dialogstatus = true
      this.recordAsProp = item
    }
  }
}
</script>
