<template>
  <div>
    <h2 class="font-weight-light secondary--text">Calendario</h2>
    <newHolyDay />
  </div>
</template>
<script>
import newHolyDay from '@/components/Schedule/newHolyDay'
export default {
  components: {
    newHolyDay
  }
}
</script>
