<template>
  <div>
    <v-row class="mt-4 pl-3 pr-3">
      <h2 class="font-weight-light secondary--text">Listado de tareas</h2>
      <v-spacer></v-spacer>
      <TaskDetail />
    </v-row>
    <TasksTable :tasks="loadedTasks" />
  </div>
</template>
<script>
import TasksTable from '@/components/Tasks/TasksTable'
import TaskDetail from '@/components/Tasks/TasksDetail'
export default {
  components: { TasksTable, TaskDetail },
  async fetch({ store, context }) {
    await store.dispatch('tasks/fetchTasks')
    await store.dispatch('employees/fetchEmployees')
    await store.dispatch('taskTypes/fetchTaskTypes')
    await store.dispatch('projects/fetchProjects')
    await store.dispatch('vehicles/fetchVehicles')
  },
  computed: {
    loadedTasks() {
      if (!this.$store.getters.isManager) {
        return this.$store.getters['tasks/loadedTasks'].filter(
          (data) => data.user === this.$store.getters.loggedInUser.id
        )
      } else {
        return this.$store.getters['tasks/loadedTasks']
      }
    }
  }
}
</script>
