<template>
  <div>
    <v-row class="mt-4 pl-3 pr-3">
      <h2 class="font-weight-light secondary--text">
        Listado de registros horarios
      </h2>
    </v-row>
    <RecordsTable class="project-page" :records="loadedRecords" />
  </div>
</template>
<script>
import RecordsTable from '@/components/DayRecord/RecordsTable'
export default {
  components: {
    RecordsTable
  },
  async fetch({ store, context }) {
    await store.dispatch('records/fetchRecords')
  },
  data() {
    return {
      records: this.loadedRecords
    }
  },
  computed: {
    loadedRecords() {
      return this.$store.getters['records/loadedRecords']
    }
  }
}
</script>
