<template>
  <div>
    <v-row class="mt-4 pl-3 pr-3">
      <h2 class="font-weight-light secondary--text">Listado de empleados</h2>
      <v-spacer></v-spacer>
      <v-fab-transition class="pr-3">
        <v-btn
          v-if="isManager"
          class="button-bottom"
          rounded
          small
          color="secondary"
          @click="dialogstatus = true"
        >
          <v-icon small>mdi-plus</v-icon> EMPLEADO
        </v-btn>
      </v-fab-transition>
    </v-row>
    <EmployeesTable />
    <AddEmployee v-model="dialogstatus" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import EmployeesTable from '@/components/Employees/EmployeesTable'
import AddEmployee from '@/components/Employees/AddEmployee'
export default {
  components: {
    EmployeesTable,
    AddEmployee
  },
  async fetch({ context, store }) {
    await store.dispatch('employees/fetchEmployees')
    await store.dispatch('contractTypes/fetchContractTypes')
  },
  data: () => ({
    dialogstatus: false
  }),
  computed: {
    ...mapGetters({
      isManager: 'isManager'
    })
  }
}
</script>
