<template>
  <div>
    <v-row>
      <v-col>
        <v-btn
          rounded
          class="button-bottom"
          color="secondary"
          :to="'/clients/'"
        >
          <v-icon small>mdi-arrow-left</v-icon> CLIENTES
        </v-btn>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="text-right">
        <v-btn
          rounded
          class="button-bottom"
          color="secondary"
          @click="editClient(client)"
        >
          <v-icon small>mdi-pencil</v-icon> EDITAR
        </v-btn>
      </v-col>
    </v-row>
    <ClientDetail :client="client" />
    <v-row class="pb-0">
      <v-col class="pb-0">
        <v-row>
          <v-tabs background-color="transparent" color="secondary">
            <v-tab
              ><v-btn outlined color="white" @click="showProjects()"
                ><div class="primary--text">Proyectos</div>
              </v-btn></v-tab
            >
            <v-tab
              ><v-btn outlined color="white" @click="showPersons()">
                <div class="primary--text">Personas de Contacto</div>
              </v-btn></v-tab
            >
          </v-tabs>
        </v-row>
        <v-row> </v-row>
      </v-col>
    </v-row>
    <ProjectTable
      v-if="showprojects == true"
      class="pt-0"
      :projects="loadedProjects"
    />
    <AddProjectBtn v-if="showprojects == true" :client="client" />
    <ContactPersonsTable
      v-if="showpersons == true"
      :client="client"
      :contactpersons="contactPersons"
    />
    <EditClient v-model="dialogstatus" :client="clientAsProp" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ProjectTable from '@/components/Projects/ProjectTable'
import ClientDetail from '@/components/Clients/ClientDetail'
import ContactPersonsTable from '@/components/Clients/ContactPersonsTable'
import EditClient from '@/components/Clients/EditClient'
import AddProjectBtn from '@/components/Clients/AddProjectBtn'

export default {
  components: {
    ProjectTable,
    ClientDetail,
    ContactPersonsTable,
    EditClient,
    AddProjectBtn
  },
  async fetch({ store, context }) {
    await store.dispatch('projects/fetchProjects')
    await store.dispatch('projectTypes/fetchProjectTypes')
    await store.dispatch('projectStatus/fetchProjectStatus')
    await store.dispatch('managers/fetchManagers')
    await store.dispatch('clients/fetchClients')
  },
  asyncData(context) {
    if (context.payload) {
      return {
        loadedPost: context.payload.postData
      }
    }
    return context.app.$axios
      .$get('clients/' + context.params.id + '/')
      .then((data) => {
        return {
          loadedPost: data,
          loadedProjects: data.projects,
          client: data.client,
          contactPersons: data.contactpersons
        }
      })
      .catch((e) => context.error(e))
  },
  data: () => ({
    showprojects: true,
    showpersons: false,
    clientAsProp: {},
    dialogstatus: false
  }),
  computed: {
    ...mapGetters({
      clients: 'clients/loadedClients'
    })
  },
  methods: {
    showProjects() {
      this.showprojects = true
      this.showpersons = false
    },
    showPersons() {
      this.showprojects = false
      this.showpersons = true
    },
    editClient(client) {
      this.dialogstatus = true
      this.clientAsProp = client
    }
  }
}
</script>
