<template>
  <div>
    <v-row>
      <v-col>
        <v-btn
          class="button-bottom"
          color="secondary"
          rounded
          small
          :to="'/tasks/'"
        >
          <v-icon small>mdi-arrow-left</v-icon> TAREAS
        </v-btn>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="text-right">
        <v-btn
          class="button-bottom"
          color="secondary"
          rounded
          small
          @click="editTask(task)"
        >
          <v-icon small>mdi-pencil</v-icon> EDITAR
        </v-btn>
      </v-col>
      <EditTask v-model="dialogstatus" :task="taskAsProp" />
    </v-row>
    <v-card outlined color="white">
      <v-card-title class="primary--text">{{ task.name }}</v-card-title>
      <v-card-subtitle class="primary--text">{{
        task.description
      }}</v-card-subtitle>
      <v-card-text class="pb-1 primary--text">
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-calendar-range</v-icon> Fecha:</h4>
            </div>
            <div>
              {{ date }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-clock</v-icon> Hora inicio planificada:</h4>
            </div>
            <div>
              {{ task.start_plan }}
            </div>
          </v-col>
          <v-col
            ><div>
              <h4><v-icon small>mdi-clock</v-icon> Hora final planificada:</h4>
            </div>
            <div>
              {{ task.end_plan }}
            </div></v-col
          >
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-account</v-icon> Trabajador:</h4>
            </div>
            <div>
              {{ task.username }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-clock</v-icon> Hora inicio real:</h4>
            </div>
            <div>
              {{ task.start_real }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-clock</v-icon> Hora fin real:</h4>
            </div>
            <div>
              {{ task.end_real }}
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-clipboard-file</v-icon> Proyecto:</h4>
            </div>
            <div>
              {{ task.projectname }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-format-list-bulleted-type</v-icon> Tipo:
              </h4>
            </div>
            <div>
              {{ task.typename }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-check</v-icon> Realizada:</h4>
            </div>
            <div v-if="task.done == true">
              Sí
            </div>
            <div v-if="task.done == false">
              No
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-car</v-icon> Vehículo:</h4>
            </div>
            <div>
              {{ task.vehiclename }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-tools</v-icon> Maquinaria:</h4>
            </div>
            <div>
              {{ task.equipment }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-safety-goggles</v-icon> Epis:</h4>
            </div>
            <div>
              {{ task.epis }}
            </div>
          </v-col>
        </v-row>
        <v-row class="pb-0">
          <div class="pl-3 font-italic">
            Creada el: {{ createdOn }} por {{ task.created_by }}
          </div>
          <v-spacer></v-spacer>
          <div class="pr-3 font-italic">
            Última actualización: {{ lastUpdate }}
          </div>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { formatRelative } from 'date-fns'
import { es } from 'date-fns/locale'
import EditTask from '@/components/Tasks/EditTask'
export default {
  components: {
    EditTask
  },
  asyncData(context) {
    if (context.payload) {
      return {
        loadedPost: context.payload.postData
      }
    }
    return context.app.$axios
      .$get('/tasks/' + context.params.id + '/')
      .then((data) => {
        return {
          task: data
        }
      })
      .catch((e) => context.error(e))
  },
  data: () => ({
    dialogstatus: false,
    taskAsProp: {}
  }),
  computed: {
    date() {
      return formatRelative(new Date(this.task.date), new Date(), {
        locale: es
      })
    },
    createdOn() {
      return formatRelative(new Date(this.task.created_date), new Date(), {
        locale: es
      })
    },
    lastUpdate() {
      return formatRelative(new Date(this.task.last_update), new Date(), {
        locale: es
      })
    }
  },
  methods: {
    editTask(task) {
      this.dialogstatus = true
      this.taskAsProp = task
    }
  }
}
</script>
