<template>
  <div>
    <v-row class="justify-center align-center">
      <v-col cols="8">
        <v-btn
          rounded
          class="button-bottom"
          color="secondary"
          small
          :to="'/projects/'"
        >
          <v-icon small>mdi-arrow-left</v-icon> PROYECTOS
        </v-btn>
        <v-btn
          rounded
          class="button-bottom"
          color="secondary"
          small
          justify-end
          @click="editProject(project)"
        >
          <v-icon small>mdi-pencil</v-icon> EDITAR
        </v-btn>
        <EditProject v-model="dialogedit" :project="projectAsProp" />
      </v-col>
      <v-col cols="4">
        <v-btn
          rounded
          class="button-bottom"
          color="secondary"
          small
          @click="dialogcomment = true"
        >
          <v-icon small>mdi-comment-outline</v-icon> comentar
        </v-btn>
        <AddComment v-model="dialogcomment" :project="project" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="8">
        <ProjectResume :project="project" />
        <div></div>
        <v-row class="pb-0">
          <v-col class="pb-0">
            <v-row>
              <v-tabs background-color="transparent" color="secondary">
                <v-tab
                  ><v-btn outlined color="white" @click="showTasks()"
                    ><div class="primary--text">TAREAS</div>
                  </v-btn></v-tab
                >
                <v-tab
                  ><v-btn outlined color="white" @click="showPlanning()">
                    <div class="primary--text">Planificación</div>
                  </v-btn></v-tab
                >
              </v-tabs>
            </v-row>
          </v-col>
        </v-row>
        <TaskTable v-if="showtasks == true" :tasks="tasks" />
        <v-fab-transition>
          <v-btn
            v-if="showtasks == true"
            rounded
            class="button-bottom"
            color="secondary"
            small
            @click="dialogtask = true"
          >
            <v-icon small>mdi-plus</v-icon> TAREA
          </v-btn>
        </v-fab-transition>
        <AddTask
          v-if="showtasks == true"
          v-model="dialogtask"
          :project="project"
        />
        <PlanningTable
          v-if="showplanning == true"
          :projecthours="projecthours"
        />
        <v-fab-transition>
          <v-btn
            v-if="showplanning == true"
            rounded
            class="button-bottom"
            color="secondary"
            small
            @click="dialogperson = true"
          >
            <v-icon small>mdi-plus</v-icon> PLANIFICACIÓN
          </v-btn>
        </v-fab-transition>
        <AddPlanning
          v-if="showplanning == true"
          v-model="dialogperson"
          :project="project"
        />
      </v-col>
      <v-col cols="4">
        <Timeline :comments="comments" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import TaskTable from '@/components/Tasks/TasksTable'
import AddComment from '@/components/Projects/AddComment'
import ProjectResume from '@/components/Projects/ProjectResume'
import PlanningTable from '@/components/Projects/PlanningTable'
import AddPlanning from '@/components/Projects/AddPlanning'
import EditProject from '@/components/Projects/EditProject'
import AddTask from '@/components/Projects/AddTask'
import Timeline from '@/components/Projects/Timeline'
export default {
  name: 'ProjectDetail',
  components: {
    TaskTable,
    AddComment,
    ProjectResume,
    PlanningTable,
    AddPlanning,
    EditProject,
    AddTask,
    Timeline
  },
  async fetch({ store, context }) {
    await store.dispatch('projects/fetchProjects')
    await store.dispatch('projectTypes/fetchProjectTypes')
    await store.dispatch('projectStatus/fetchProjectStatus')
    await store.dispatch('managers/fetchManagers')
    await store.dispatch('clients/fetchClients')
    await store.dispatch('tasks/fetchTasks')
    await store.dispatch('employees/fetchEmployees')
    await store.dispatch('taskTypes/fetchTaskTypes')
    await store.dispatch('projects/fetchProjects')
    await store.dispatch('vehicles/fetchVehicles')
  },
  asyncData(context) {
    if (context.payload) {
      return {
        loadedPost: context.payload.postData
      }
    }
    return context.app.$axios
      .$get('/projects/' + context.params.id + '/')
      .then((data) => {
        return {
          project: data.project,
          tasks: data.tasks,
          comments: data.comments,
          projecthours: data.projecthours
        }
      })
      .catch((e) => context.error(e))
  },
  data: () => ({
    showtasks: true,
    showplanning: false,
    dialogedit: false,
    dialogperson: false,
    dialogtask: false,
    projectAsProp: {},
    dialogcomment: false
  }),
  computed: {
    ...mapGetters({
      clients: 'projects/loadedProjects'
    })
  },
  methods: {
    getUserAvatar(a) {
      return a.substring(0, 1).toUpperCase()
    },
    showTasks() {
      this.showtasks = true
      this.showplanning = false
    },
    showPlanning() {
      this.showtasks = false
      this.showplanning = true
    },
    editProject(project) {
      this.dialogedit = true
      this.projectAsProp = project
    }
  }
}
</script>
