.schedule-anual-planning {
  .v-date-picker-header {
    pointer-events: none;
  }
}
.generic-list-view2 {
  top: 25%;
  .v-input__control {
    position: top 10%;
    max-width: 50%;
  }
}
.cllient-table-filter-headers-code {
    max-width: 15rem;
    flex: auto;
}
.client-table-filter-headers-name {
  max-width: 60rem;
}