<template>
  <v-app>
    <v-navigation-drawer
      v-if="isAuthenticated === true"
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      expand-on-hover
      fixed
      app
      color="third"
    >
      <v-list class="primary--text">
        <v-list-item>
          <div class="side-bar-selected-name-to-profile" @click="myFn()">
            <v-list-item-content>
              <v-list-item-title>
                {{ loggedInUser.user.first_name }}
                {{ loggedInUser.user.last_name }}
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-subtitle>
              {{ loggedInUser.user.email }}
            </v-list-item-subtitle>
          </div>
        </v-list-item>
        <v-list-item
          v-for="(item, i) in availableItems"
          :key="i"
          :to="item.to"
          router
          exact
          small
        >
          <v-list-item-action>
            <v-icon color="primary">{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      flat
      color="third"
      height="45px"
    >
      <v-app-bar-nav-icon
        v-if="isAuthenticated === true"
        color="primary"
        @click.stop="drawer = !drawer"
      />
      <v-spacer></v-spacer>
      <v-btn
        v-if="isAuthenticated === true"
        class="mx-right"
        fab
        small
        outlined
        color="primary"
        @click.stop="logout()"
      >
        <v-icon>mdi-logout-variant</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt keep-alive :keep-alive-props="{ max: 10 }" />
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
    availableItems() {
      if (this.$store.getters.isManager) {
        return this.managerItems
      }
      return this.employeesItems
    }
  },
  // eslint-disable-next-line vue/order-in-components
  data() {
    return {
      // eslint-disable-next-line prettier/prettier
      avatarColor: '#' + ((Math.random() * 0xFFFFFF) << 0).toString(16),
      clipped: true,
      drawer: false,
      fixed: false,
      managerItems: [
        {
          icon: 'mdi-briefcase',
          title: 'Clientes',
          to: '/clients'
        },
        {
          icon: 'mdi-clipboard-file',
          title: 'Proyectos',
          to: '/projects'
        },
        {
          icon: 'mdi-calendar-check',
          title: 'Tareas',
          to: '/tasks'
        },
        {
          icon: 'mdi-timer',
          title: 'Registro de jornada',
          to: '/dailyRecord'
        },
        {
          icon: 'mdi-beach',
          title: 'Gestión del tiempo',
          to: '/timeManagment'
        },
        {
          icon: 'mdi-account-hard-hat',
          title: 'Empleados',
          to: '/employees'
        },
        {
          icon: 'mdi-car',
          title: 'Vehículos',
          to: '/vehicles'
        },
        {
          icon: 'mdi-widgets',
          title: 'Panel administrador',
          to: '/adminPanel'
        }
      ],
      employeesItems: [
        {
          icon: 'mdi-calendar-check',
          title: 'Tareas',
          to: '/tasks'
        },
        {
          icon: 'mdi-timer',
          title: 'Registro de jornada',
          to: '/dailyRecord'
        },
        {
          icon: 'mdi-beach',
          title: 'Gestión del tiempo',
          to: '/timeManagment'
        }
      ],
      miniVariant: true,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
    avatarDisplay() {
      let avatar = null
      avatar = this.$store.getters.loggedInUser.first_name.substring(0, 1)
      avatar += this.$store.getters.last_name.substring(0, 1)
      return avatar
    },
    myFn() {
      // eslint-disable-next-line no-console
      // this.$nuxt.$router.push('/employees/' + this.loggedInUser.user.id)
    }
  }
}
</script>
<style lang="scss" scoped>
.side-bar-selected-name-to-profile {
  cursor: pointer;
  width: auto;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
</style>
