<template>
  <div>
    <v-form>
      <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="500px">
        <v-card>
          <v-card-title class="secondary darken-1 third--text">
            Editar {{ newItem.name }}
          </v-card-title>
          <v-container>
            <v-data-table :headers="headers" :items="info">
              <template v-slot:item.description="{ item }">
                <v-text-field
                  v-model="item.description"
                  class="generic-list-view2"
                  single-line
                  :outlined="item.edit ? false : true"
                  :readonly="!item.edit"
                  :color="item.edit ? 'green' : 'red'"
                >
                </v-text-field>
              </template>
              <template v-slot:item.actions="{ item }">
                <template v-if="item.edit === true">
                  <v-hover v-slot:default="{ hover }">
                    <v-icon
                      :color="hover ? 'red' : 'grey'"
                      @click="closeEdit(item)"
                    >
                      mdi-close
                    </v-icon>
                  </v-hover>
                  <v-hover v-slot:default="{ hover }">
                    <v-icon
                      :color="hover ? 'green' : 'grey'"
                      @click="saveItemChanges(item)"
                    >
                      mdi-check-bold
                    </v-icon>
                  </v-hover>
                </template>
                <template v-if="item.edit === false">
                  <v-hover v-slot:default="{ hover }">
                    <v-icon
                      :color="hover ? 'blue' : 'grey'"
                      @click="editItem(item)"
                    >
                      mdi-pencil
                    </v-icon>
                  </v-hover>
                </template>
              </template>
            </v-data-table>
          </v-container>
        </v-card>
      </v-dialog>
    </v-form>
  </div>
</template>
<script>
import { cloneDeep } from 'lodash'
export default {
  name: 'GenericList2',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    thing: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    info: [],
    newItem: cloneDeep({}),
    headers: [
      {
        text: 'Descripción',
        align: 'start',
        value: 'description'
      },
      {
        text: 'Acciones',
        value: 'actions',
        sorteable: false
      }
    ]
  }),

  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  watch: {
    value() {
      this.newItem = cloneDeep(this.thing)
      this.info = this.$store.getters[this.thing.data]
    }
  },
  methods: {
    editItem(item) {
      item.edit = !item.edit
    },
    closeEdit(item) {
      item.edit = !item.edit
    },
    saveItemChanges(item) {
      this.$axios
        .$patch(this.newItem.url + '/' + item.id + '/', {
          description: item.description
        })
        .then((data) => {
          item.edit = !item.edit
        })
    }
  }
}
</script>
