<template>
  <div>
    <v-form>
      <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
        <v-card>
          <v-card-title class="secondary darken-1 third--text">
            Editar tipo de tarea
          </v-card-title>
          <v-container>
            <v-data-table :headers="headers" :items="info" calculate-widths>
              <template v-slot:item.description="{ item }">
                <v-text-field
                  v-model="item.description"
                  width="100%"
                  :outlined="item.edit ? false : true"
                  :readonly="!item.edit"
                  :color="item.edit ? 'green' : 'red'"
                >
                </v-text-field>
              </template>
              <template v-slot:item.projecttype="{ item }">
                <v-autocomplete
                  v-model="item.projecttypename"
                  :items="loadedProjectTypes"
                  item-text="description"
                  outlined
                  dense
                  chips
                  small-chips
                  :disabled="item.edit == false"
                  :return-object="true"
                  label="Tipo de proyecto"
                ></v-autocomplete>
              </template>
              <template v-slot:item.actions="{ item }">
                <template v-if="item.edit === true">
                  <v-hover v-slot:default="{ hover }">
                    <v-icon
                      :color="hover ? 'error' : 'grey'"
                      @click="closeEdit(item)"
                    >
                      mdi-close
                    </v-icon>
                  </v-hover>
                  <v-hover v-slot:default="{ hover }">
                    <v-icon
                      :color="hover ? 'success' : 'grey'"
                      @click="saveItemChanges(item)"
                    >
                      mdi-check-bold
                    </v-icon>
                  </v-hover>
                </template>
                <template v-if="item.edit === false">
                  <v-hover v-slot:default="{ hover }">
                    <v-icon
                      :color="hover ? 'blue' : 'grey'"
                      @click="editItem(item)"
                    >
                      mdi-pencil
                    </v-icon>
                  </v-hover>
                </template>
              </template>
            </v-data-table>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn depressed-small color="error" @click="dialogActive = false">
              Cancelar
            </v-btn>
            <v-btn
              depressed-small
              type="submit"
              color="success"
              @click="onSubmit()"
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-form>
  </div>
</template>
<script>
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
export default {
  name: 'GenericList3',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    thing: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    info: [],
    newItem: cloneDeep({}),
    projecttype: null,
    headers: [
      {
        text: 'Descripción',
        align: 'start',
        value: 'description',
        width: '50%'
      },
      {
        text: 'Tipo de proyecto',
        value: 'projecttype'
      },
      {
        text: 'Acciones',
        value: 'actions',
        sorteable: false
      }
    ]
  }),

  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    ...mapGetters({
      loadedProjectTypes: 'projectTypes/loadedProjectTypes'
    })
  },
  watch: {
    value() {
      this.newItem = cloneDeep(this.thing)
      this.info = this.$store.getters[this.thing.data]
    }
  },
  methods: {
    editItem(item) {
      item.edit = !item.edit
    },
    closeEdit(item) {
      item.edit = !item.edit
    },
    saveItemChanges(item) {
      this.$axios
        .$patch(this.newItem.url + '/' + item.id + '/', {
          description: item.description,
          projecttype: item.projecttypename.id
        })
        .then((data) => {
          item.edit = !item.edit
        })
    }
  }
}
</script>
