<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Crear un {{ newItem.name }}
        </v-card-title>
        <v-container
          ><v-textarea
            v-model="newItem.description"
            class="pt-3 pb-3"
            :label="newItem.name"
            auto-grow
            outlined
            rows="3"
            row-height="25"
            shaped
          ></v-textarea>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn depressed-small color="error" @click="dialogActive = false">
              Cancel
            </v-btn>
            <v-btn
              depressed-small
              type="submit"
              color="success"
              @click="onSubmit()"
            >
              Save
            </v-btn>
          </v-card-actions></v-container
        >
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    thing: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    newItem: cloneDeep({})
  }),

  computed: {
    ...mapGetters({
      loggedinuser: 'loggedInUser'
    }),
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  watch: {
    value() {
      this.newItem = cloneDeep(this.thing)
    }
  },
  methods: {
    onSubmit() {
      this.$axios
        .$post(this.newItem.url + '/', {
          description: this.newItem.description
        })
        .then((data) => {
          this.dialogActive = false
        })
    }
  }
}
</script>
