<template>
  <div>
    <v-row>
      <v-col>
        <v-btn
          class="button-bottom"
          color="secondary"
          rounded
          small
          :to="'/vehicles/'"
        >
          <v-icon small>mdi-arrow-left</v-icon> VEHÍCULOS
        </v-btn>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="text-right">
        <v-btn
          class="button-bottom"
          color="secondary"
          rounded
          small
          @click="editVehicle(vehicle)"
        >
          <v-icon small>mdi-pencil</v-icon> EDITAR
        </v-btn>
      </v-col>
    </v-row>
    <VehicleResume :vehicle="vehicle" />
    <v-row class="ml-2">
      <v-col class="pt-0">
        <v-row>
          <v-tabs background-color="transparent" color="secondary">
            <v-tab><div class="primary--text">Tareas</div> </v-tab>
          </v-tabs>
        </v-row>
        <v-row> </v-row>
      </v-col>
    </v-row>
    <TasksTable :tasks="vehicleLoadedTasks" />
    <EditVehicle v-model="dialogstatus" :vehicle="vehicleAsProp" />
  </div>
</template>

<script>
import TasksTable from '@/components/Tasks/TasksTable'
import VehicleResume from '@/components/Vehicles/VehicleResume'
import EditVehicle from '@/components/Vehicles/EditVehicle'
export default {
  components: { TasksTable, VehicleResume, EditVehicle },
  asyncData(context) {
    if (context.payload) {
      return {
        loadedPost: context.payload.postData
      }
    }
    return context.app.$axios
      .$get('vehicles/' + context.params.id + '/')
      .then((data) => {
        return {
          vehicleLoadedTasks: data.tasks,
          vehicle: data.vehicle
        }
      })
      .catch((e) => context.error(e))
  },
  data() {
    return {
      vehicleAsProp: {},
      dialogstatus: false
    }
  },
  methods: {
    editVehicle(vehicle) {
      this.dialogstatus = true
      this.vehicleAsProp = vehicle
    }
  }
}
</script>
