<template>
  <v-flex>
    <div id="absences">
      <v-row justify="space-between" class="pl-3 pr-3">
        <div id="first element">
          <v-col>
            <h2 class="font-weight-light secondary--text">
              Gestión del tiempo
            </h2>
          </v-col>
        </div>
        <div id="second element">
          <v-btn
            class="ma-2"
            rounded
            small
            color="secondary"
            @click.stop="dialogstatus = true"
          >
            <v-icon small>mdi-plus</v-icon>
            Solicitud de ausencia
          </v-btn>
        </div>
      </v-row>
      <AbsenceRequest v-model="dialogstatus" />
      <AbsencesTable :absences="loadedAbsences" />
    </div>
  </v-flex>
</template>
<script>
import AbsenceRequest from '@/components/Absences/AbsenceRequest'
import AbsencesTable from '@/components/Absences/AbsencesTable'
export default {
  components: {
    AbsenceRequest,
    AbsencesTable
  },
  async fetch({ store }) {
    await store.dispatch('absences/fetchAbsences')
    await store.dispatch('employees/fetchEmployees')
    await store.dispatch('absenceTypes/fetchAbsenceTypes')
  },
  data: () => ({
    dialogstatus: false
  }),
  computed: {
    absencesTomanage() {
      const sol = this.$store.getters['absences/loadedAbsences'].filter(
        (data) => data.status === 'P'
      )
      return sol.length
    },
    loadedAbsences() {
      if (!this.$store.getters.isManager) {
        return this.$store.getters['absences/loadedAbsences'].filter(
          (data) => data.user === this.$store.getters.loggedInUser.user.id
        )
      } else {
        return this.$store.getters['absences/loadedAbsences']
      }
    }
  }
}
</script>
