<template>
  <div>
    <v-row class="pr-3 pl-3"
      ><h2 class="font-weight-light secondary--text">
        Panel de administrador
      </h2></v-row
    >

    <v-data-table :headers="headers" :items="items">
      <template v-slot:item.actions="{ item }">
        <v-hover v-slot:default="{ hover }">
          <v-icon small :color="hover ? 'error' : 'grey'" @click="edit(item)">
            mdi-plus
          </v-icon>
        </v-hover>
        <v-hover v-slot:default="{ hover }">
          <v-icon small :color="hover ? 'success' : 'grey'" @click="list(item)">
            mdi-eye-outline
          </v-icon>
        </v-hover>
      </template>
    </v-data-table>
    <GenericList v-model="dialogstatus" :thing="item" />
    <GenericList2 v-model="dialogstatus2" :thing="item" />
    <GenericList3 v-model="dialogstatus3" :thing="item" />
    <GenericList4 v-model="dialogstatus4" :thing="item" />
  </div>
</template>
<script>
import GenericList from '@/components/Admin/GenericList'
import GenericList2 from '@/components/Admin/GenericList2'
import GenericList3 from '@/components/Admin/GenericList3'
import GenericList4 from '@/components/Admin/GenericList4'
export default {
  components: { GenericList, GenericList2, GenericList3, GenericList4 },
  async fetch({ store, context }) {
    await store.dispatch('clientTypes/fetchClientTypes')
    await store.dispatch('projectTypes/fetchProjectTypes')
    await store.dispatch('projectStatus/fetchProjectStatus')
    await store.dispatch('taskTypes/fetchTaskTypes')
    await store.dispatch('absenceTypes/fetchAbsenceTypes')
    await store.dispatch('contractTypes/fetchContractTypes')
  },
  data: () => ({
    item: {},
    dialogstatus: false,
    dialogstatus2: false,
    dialogstatus3: false,
    dialogstatus4: false,
    items: [
      {
        name: 'Tipo de cliente',
        shortDescription: 'Gestión del tipo de clientes',
        data: 'clientTypes/loadedClientTypes',
        url: 'clienttypes'
      },
      {
        name: 'Tipo de proyecto',
        shortDescription: 'Gestión del tipo de proyectos',
        data: 'projectTypes/loadedProjectTypes',
        url: 'projecttypes'
      },
      {
        name: 'Estado de proyecto',
        shortDescription: 'Gestión del estado de los proyectos',
        data: 'projectStatus/loadedProjectStatus',
        url: 'projectstatus'
      },
      {
        name: 'Tipo de tarea',
        shortDescription: 'Gestión del tipo de tareas',
        data: 'taskTypes/loadedTaskTypes',
        url: 'tasktypes'
      },
      {
        name: 'Tipo de ausencia',
        shortDescription: 'Gestión del tipo de ausencias',
        data: 'absenceTypes/loadedAbsenceTypes',
        url: 'absencetypes'
      },
      {
        name: 'Tipo de contrato',
        shortDescription: 'Gestión del tipo de contratos',
        data: 'contractTypes/loadedContractTypes',
        url: 'contracttypes'
      }
    ],
    headers: [
      {
        text: 'Nombre',
        align: 'start',
        value: 'name'
      },
      {
        text: 'Descripción',
        value: 'shortDescription'
      },
      {
        text: 'Acciones',
        value: 'actions',
        sorteable: false
      }
    ]
  }),
  computed: {
    loadedProjectTypes() {
      return this.$store.getters['projectTypes/loadedProjectTypes']
    }
  },
  methods: {
    edit(item) {
      Object.assign(this.$data.item, item)
      if (this.item.url === 'tasktypes') {
        this.dialogstatus4 = true
      } else {
        this.dialogstatus = true
      }
    },
    list(item) {
      Object.assign(this.$data.item, item)
      if (this.item.url === 'tasktypes') {
        this.dialogstatus3 = true
      } else {
        this.dialogstatus2 = true
      }
    }
  }
}
</script>
