<template>
  <div>
    <v-row class="mt-4 pl-3 pt-3">
      <h2 class="font-weight-light secondary--text">Listado de vehículos</h2>
      <v-spacer></v-spacer>
      <v-btn
        v-if="isManager"
        class="button-bottom"
        rounded
        small
        color="secondary"
        @click="dialogstatus = true"
      >
        <v-icon small>mdi-plus</v-icon> VEHÍCULO
      </v-btn>
    </v-row>
    <VehiclesTable />
    <AddVehicle v-model="dialogstatus" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import VehiclesTable from '@/components/Vehicles/VehiclesTable'
import AddVehicle from '@/components/Vehicles/AddVehicle'
export default {
  components: {
    VehiclesTable,
    AddVehicle
  },
  async fetch({ context, store }) {
    await store.dispatch('vehicles/fetchVehicles')
  },
  data: () => ({ dialogstatus: false }),
  computed: {
    ...mapGetters({
      isManager: 'isManager'
    })
  }
}
</script>
