<template>
  <div>
    <v-row>
      <v-col cols="10">
        <v-btn
          rounded
          class="button-bottom"
          color="secondary"
          small
          :to="'/timeManagment/'"
        >
          <v-icon small>mdi-arrow-left</v-icon> GESTIÓN DEL TIEMPO
        </v-btn>
      </v-col>
      <v-col class="text-right" cols="1">
        <v-btn
          class="button-bottom"
          color="secondary"
          rounded
          small
          @click="editAbsence(absence)"
        >
          <v-icon small>mdi-pencil</v-icon> EDITAR
        </v-btn>
      </v-col>
      <v-col class="text-right" cols="1">
        <v-btn
          class="button-bottom"
          color="error"
          rounded
          small
          @click="removeAbsence(absence)"
        >
          <v-icon small>mdi-delete</v-icon> ELIMINAR
        </v-btn>
      </v-col>
    </v-row>
    <AbsenceDetail :absence="absence" />
    <EditAbsence v-model="dialogstatus" :absence="absenceAsProp" />
    <RemoveAbsence v-model="dialogstatus1" :absence="absenceAsProp" />
  </div>
</template>

<script>
import AbsenceDetail from '@/components/Absences/AbsenceDetail'
import EditAbsence from '@/components/Absences/EditAbsence'
import RemoveAbsence from '@/components/Absences/RemoveAbsence'
export default {
  components: { AbsenceDetail, EditAbsence, RemoveAbsence },
  async fetch({ store, context }) {
    await store.dispatch('absenceTypes/fetchAbsenceTypes')
    await store.dispatch('employees/fetchEmployees')
  },
  asyncData(context) {
    if (context.payload) {
      return {
        loadedPost: context.payload.postData
      }
    }
    return context.app.$axios
      .$get('absences/' + context.params.id + '/')
      .then((data) => {
        return {
          absence: data
        }
      })
      .catch((e) => context.error(e))
  },
  data() {
    return {
      absenceAsProp: {},
      dialogstatus: false,
      dialogstatus1: false
    }
  },
  methods: {
    editAbsence(absence) {
      this.dialogstatus = true
      this.absenceAsProp = absence
    },
    removeAbsence(absence) {
      this.dialogstatus1 = true
      this.absenceAsProp = absence
    }
  }
}
</script>
