<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Añade una nueva persona de contacto </v-card-title
        ><v-container
          ><v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-account
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newContactPerson.firstname"
                  placeholder="Nombre"
                  :rules="personRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-account
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newContactPerson.lastname"
                  placeholder="Apellidos"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-dialpad
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newContactPerson.telephone"
                  placeholder="Teléfono"
                  :rules="personRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newContactPerson.role"
                  placeholder="Rol"
                  :rules="personRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="12">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-at
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newContactPerson.email"
                  placeholder="Email"
                />
              </v-row>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions></v-card
      >
    </v-dialog>
  </v-form>
</template>
<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    client: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    newContactPerson: {
      client: '',
      firstname: '',
      lastname: '',
      telephone: '',
      email: '',
      role: ''
    },
    personRules: [(v) => !!v || 'Este campo es obligatorio']
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      // eslint-disable-next-line no-console
      this.newContactPerson.client = this.client.id
      this.$axios
        .$post('/contactpersons/', this.newContactPerson)
        .then((data) => {
          this.dialogActive = false
        })
    }
  }
}
</script>
