<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Añadir un nuevo cliente </v-card-title
        ><v-container
          ><v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-briefcase
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.name"
                  placeholder="Nombre"
                  :rules="clientRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-numeric
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.code"
                  placeholder="Código"
                  :rules="clientRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.street"
                  placeholder="Dirección"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.cp"
                  placeholder="Código Postal"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newClient.town" placeholder="Ciudad" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.province"
                  placeholder="Provincia"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-card-account-details
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.cif"
                  placeholder="CIF"
                  :rules="clientRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-at
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.invoicing_email"
                  placeholder="Email principal"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-phone
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.telephone"
                  placeholder="Teléfono principal"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-switch v-model="switch1" :label="'Activo'"></v-switch>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newClient.type"
                  :items="loadedClientTypes"
                  item-text="description"
                  outlined
                  dense
                  chips
                  small-chips
                  :return-object="true"
                  label="Elige un tipo de cliente..."
                  :rules="clientRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions></v-card
      >
    </v-dialog>
  </v-form>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    newClient: {
      name: '',
      code: '',
      cif: '',
      address: '',
      street: '',
      cp: null,
      town: '',
      province: '',
      active: '',
      type: '',
      invoicing_email: '',
      telephone: ''
    },
    switch1: false,
    clientRules: [(v) => !!v || 'Este campo es obligatorio']
  }),

  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    ...mapGetters({
      loadedClientTypes: 'clientTypes/loadedClientTypes'
    })
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      this.newClient.active = this.switch1
      this.newClient.type = this.newClient.type.id
      // eslint-disable-next-line no-console
      this.$axios.$post('clients/', this.newClient).then((data) => {
        this.dialogActive = false
      })
    }
  }
}
</script>
