<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Añadir un proyecto
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-clipboard-file
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.name"
                  placeholder="Nombre"
                  :rules="projectRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-numeric
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newProject.code" placeholder="Código" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-map-marker
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.address"
                  placeholder="Link a Maps"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newProject.street" placeholder="Calle" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.cp"
                  placeholder="Código Postal"
                  :rules="projectRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.province"
                  placeholder="Provincia"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.town"
                  placeholder="Municipio"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newProject.manager"
                  :items="loadedManagers"
                  item-text="username"
                  outlined
                  dense
                  chips
                  small-chips
                  :return-object="true"
                  label="Elige un manager..."
                  :rules="projectRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newProject.type"
                  :items="projectTypes"
                  item-text="description"
                  outlined
                  dense
                  chips
                  small-chips
                  :return-object="true"
                  label="Elige un tipo de proyecto..."
                  :rules="projectRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newProject.status"
                  :items="projectStatus"
                  item-text="description"
                  outlined
                  :return-object="true"
                  dense
                  chips
                  small-chips
                  label="Elige un estado..."
                  :rules="projectRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col cols="6" lg="6">
              <v-menu
                ref="menu1"
                v-model="startDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="formattedStartDate"
                    label="Fecha de Inicio"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newProject.start_date"
                  no-title
                  @input="startDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6" lg="6">
              <v-menu
                v-model="budgetDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="formattedBudgetDate"
                    label="Fecha de Presupuesto"
                    prepend-icon="mdi-calendar"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newProject.budget_date"
                  no-title
                  @input="budgetDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6" lg="6">
              <v-menu
                v-model="endDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="formattedEndDate"
                    label="Fecha de Finalización"
                    prepend-icon="mdi-calendar"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newProject.end_date"
                  no-title
                  @input="endDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="12">
              <v-textarea
                v-model="newProject.description"
                label="Observaciones"
                auto-grow
                outlined
                rows="3"
                row-height="25"
                shaped
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit(newProject)"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
import { format } from 'date-fns'
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    client: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    startDateMenu: false,
    budgetDateMenu: false,
    endDateMenu: false,
    newProject: {
      name: '',
      description: '',
      code: '',
      client: '',
      address: '',
      street: '',
      cp: '',
      town: '',
      province: '',
      type: '',
      status: '',
      start_date: null,
      budget_date: null,
      end_date: null,
      invoiced: false,
      manager: ''
    },
    projectRules: [(v) => !!v || 'Este campo es obligatorio']
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    ...mapGetters({
      projectStatus: 'projectStatus/loadedProjectStatus',
      loadedManagers: 'managers/loadedManagers',
      projectTypes: 'projectTypes/loadedProjectTypes'
    }),
    formattedEndDate() {
      if (!this.newProject.end_date) return null
      return format(new Date(this.newProject.end_date), 'dd-MM-yyyy')
    },
    formattedStartDate() {
      if (!this.newProject.start_date) return null
      return format(new Date(this.newProject.start_date), 'dd-MM-yyyy')
    },
    formattedBudgetDate() {
      if (!this.newProject.budget_date) return null
      return format(new Date(this.newProject.budget_date), 'dd-MM-yyyy')
    }
  },

  methods: {
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      this.newProject.status = this.newProject.status.id
      this.newProject.client = this.client.id
      this.newProject.manager = this.newProject.manager.user.id
      this.newProject.type = this.newProject.type.id
      this.$axios
        .$post('projects/', this.newProject)
        .then((this.dialogActive = false))
    }
  }
}
</script>
