<template>
  <div>
    <v-btn
      class="button-bottom"
      color="secondary"
      rounded
      @click="dialogstatus = true"
    >
      <v-icon small>mdi-plus</v-icon> PROYECTO
    </v-btn>
    <AddProject v-model="dialogstatus" :client="client" />
  </div>
</template>
<script>
import AddProject from '@/components/Clients/AddProject'
export default {
  components: { AddProject },
  props: {
    client: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      dialogstatus: false
    }
  }
}
</script>
