<template>
  <div>
    <v-row class="mt-4 pl-3 pr-3">
      <h2 class="font-weight-light secondary--text">Listado de clientes</h2>
      <v-spacer></v-spacer>
      <v-btn
        v-if="isManager"
        class="button-bottom"
        rounded
        small
        color="secondary"
        @click.stop="dialogstatus = true"
      >
        <v-icon>mdi-plus</v-icon> CLIENTE
      </v-btn>
    </v-row>
    <br />
    <ClientsTable :clients="clients" />
    <AddClient v-model="dialogstatus" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import ClientsTable from '@/components/Clients/ClientsTable'
import AddClient from '@/components/Clients/AddClient'
export default {
  components: {
    ClientsTable,
    AddClient
  },
  props: {
    clients: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    dialogstatus: false
  }),
  computed: {
    ...mapGetters({
      isManager: 'isManager'
    })
  }
}
</script>
