<template>
  <div>
    <v-card outlined color="white">
      <v-card-title class="primary--text"
        >{{ clientDetail.code }} {{ clientDetail.name }}
      </v-card-title>
      <v-card-subtitle class="primary--text">
        <div v-if="clientDetail.active == true">
          <h3>Activo</h3>
        </div>
        <div v-if="clientDetail.active == false">
          <h3>Inactivo</h3>
        </div>
      </v-card-subtitle>
      <v-card-text class="pb-1 primary--text">
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-map-marker</v-icon> Dirección:</h4>
            </div>
            <div>
              {{ clientDetail.street }}
            </div>
            <div>{{ clientDetail.cp }} {{ clientDetail.town }}</div>
            <div>{{ clientDetail.province }}</div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-card-account-details</v-icon> CIF:</h4>
            </div>
            <div>
              {{ clientDetail.cif }}
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-format-list-bulleted-type</v-icon> Tipo:
              </h4>
            </div>
            <div>
              {{ clientDetail.typename }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-email-outline</v-icon> Datos de contacto:
              </h4>
            </div>
            <div>
              <v-icon small>mdi-at</v-icon
              ><a :href="'mailto:' + clientDetail.invoicing_email">
                {{ clientDetail.invoicing_email }}
              </a>
            </div>
            <div>
              <v-icon small>mdi-phone</v-icon
              ><a :href="'tel:' + clientDetail.telephone">
                {{ clientDetail.telephone }}</a
              >
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
import { formatRelative } from 'date-fns'
import { es } from 'date-fns/locale'
export default {
  name: 'ClientDetail',
  props: {
    client: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    clientDetail: cloneDeep({})
  }),
  computed: {
    createdOn() {
      return formatRelative(new Date(this.client.created_date), new Date(), {
        locale: es
      })
    },
    lastUpdate() {
      return formatRelative(new Date(this.client.last_update), new Date(), {
        locale: es
      })
    },
    ...mapGetters({
      clients: 'clients/loadedClients'
    })
  },
  created() {
    this.clientDetail = this.clients.find((item) => item.id === this.client.id)
  }
}
</script>
