/* eslint-disable no-console */
<template>
  <div>
    <v-data-table :headers="headers" :items="clients">
      <template v-slot:top>
        <div class="d-flex">
          <v-text-field
            v-model="filterByCode"
            class="cllient-table-filter-headers-code"
            label="Filtrar por código"
          >
          </v-text-field>
          <v-text-field
            v-model="filterByName"
            class="client-table-filter-headers-name ml-2"
            label="Filtrar por nombre"
          >
          </v-text-field>
          <v-autocomplete
            v-model="model"
            class="client-table-filter-headers-name ml-2"
            :filter="filterElementsFrom"
            :items="kindOfClients"
            :search-input="search"
            multiple
            outlined
            clearable
            :value="search"
            item-text="description"
            label="Filtrar por tipo"
          >
            <template v-slot:selection="{ item, index }">
              <v-chip v-if="index === 0">
                <span>{{ item.description }}</span>
              </v-chip>
              <v-chip v-if="index === 1">
                <span>{{ item.description }}</span>
              </v-chip>
              <v-chip v-if="index === 2" rounded
                >+{{ model.length - 2 }}
              </v-chip>
            </template>
          </v-autocomplete>
          <v-checkbox
            v-model="filterByActive"
            label="Activo"
            color="success"
            hide-details
            @change="avoidActiveWhenDisabled"
          ></v-checkbox>
          <v-checkbox
            v-model="filterByInactive"
            label="Inactivo"
            color="error"
            hide-details
            @change="avoidDisabledWhenIsActive"
          ></v-checkbox>
        </div>
      </template>
      <template v-slot:[`item.name`]="{ item }">
        <nuxt-link :to="'/clients/' + item.id + '/'">
          {{ item.name }}
        </nuxt-link>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-hover v-slot:default="{ hover }">
          <v-icon
            size="medium"
            :color="hover ? 'blue' : 'grey'"
            @click="editClient(item)"
          >
            mdi-pencil
          </v-icon>
        </v-hover>
      </template>
      <template v-slot:[`item.active`]="{ item }">
        <v-icon :color="getColor(item.active)">{{
          getIcon(item.active)
        }}</v-icon>
      </template>
    </v-data-table>
    <EditClient v-model="dialogstatus" :client="clientAsProp" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'
import EditClient from '@/components/Clients/EditClient'
export default {
  name: 'ClientTable',
  components: { EditClient },
  props: {
    clients: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      clientAsProp: {},
      dialogstatus: false,
      filterByCode: '',
      filterByName: '',
      filterByActive: false,
      filterByInactive: false,
      search: '',
      model: [],
      kindOfClients: cloneDeep({})
    }
  },
  computed: {
    ...mapGetters({
      clientTypes: 'clientTypes/loadedClientTypes'
    }),
    headers() {
      return [
        {
          text: 'Código',
          align: 'start',
          value: 'code',
          filter: (value, search, item) => {
            if (this.filterByCode === '') return true
            return value.toString().includes(this.filterByCode)
          }
        },
        {
          text: 'Nombre',
          value: 'name',
          filter: (value, search, item) => {
            if (this.filterByName === '') return true
            return value.toString().includes(this.filterByName)
          }
        },
        {
          text: 'Tipo',
          value: 'typename',
          filter: (value, search, item) => {
            if (this.model.length <= 0) return true
            return this.model.includes(value)
          }
        },
        {
          text: 'Activo',
          value: 'active',
          filter: (value, search, item) => {
            if (!this.filterByActive && !this.filterByInactive) return true
            else if (this.filterByActive && value) return true
            else if (this.filterByInactive && !value) return true
          }
        },
        {
          text: 'Editar',
          value: 'actions',
          sortable: false
        }
      ]
    }
  },
  created() {
    this.kindOfClients = cloneDeep(this.clientTypes)
  },
  methods: {
    editClient(item) {
      this.dialogstatus = true
      this.clientAsProp = item
    },
    getColor(active) {
      if (active === true) return 'success'
      if (active === false) return 'error'
    },
    getIcon(active) {
      if (active === true) return 'mdi-check'
      if (active === false) return 'mdi-close'
    },
    avoidActiveWhenDisabled(ev) {
      if (ev && this.filterByInactive)
        this.filterByInactive = !this.filterByInactive
    },
    avoidDisabledWhenIsActive(ev) {
      if (ev && this.filterByActive) this.filterByActive = !this.filterByActive
    },
    filterElementsFrom(item, queryText, itemText) {
      const text = itemText
      const query = queryText
      return text
        .toString()
        .toLowerCase()
        .includes(query.toString().toLowerCase())
    }
  }
}
</script>
