<template>
  <div>
    <v-data-table :headers="headers" :items="contactpersons">
      <template v-slot:[`item.telephone`]="{ item }">
        <a :href="'tel:' + item.telephone">{{ item.telephone }}</a>
      </template>
      <template v-slot:[`item.email`]="{ item }">
        <a :href="'mailto:' + item.email">{{ item.email }}</a>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-hover v-slot:default="{ hover }">
          <v-icon
            size="medium"
            :color="hover ? 'secondary' : 'grey'"
            @click="editPerson(item)"
          >
            mdi-pencil
          </v-icon>
        </v-hover>
        <EditPerson v-model="dialogstatus1" :person="personAsProp" />
      </template>
    </v-data-table>
    <v-row
      ><v-col
        ><v-row>
          <v-btn
            class="button-bottom"
            color="secondary"
            rounded
            @click="dialogstatus = true"
          >
            <v-icon small>mdi-plus</v-icon> PERSONA DE CONTACTO
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
    <AddContactPerson v-model="dialogstatus" :client="client" />
  </div>
</template>
<script>
import AddContactPerson from '@/components/Clients/AddContactPerson'
import EditPerson from '@/components/Clients/EditPerson'
export default {
  name: 'ContactPersonTable',
  components: { AddContactPerson, EditPerson },
  props: {
    contactpersons: {
      type: Array,
      required: true
    },
    client: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      dialogstatus: false,
      dialogstatus1: false,
      personAsProp: {},
      headers: [
        {
          text: 'Nombre',
          align: 'start',
          value: 'firstname'
        },
        {
          text: 'Apellidos',
          value: 'lastname'
        },
        {
          text: 'Teléfono',
          value: 'telephone'
        },
        {
          text: 'Email',
          value: 'email',
          sortable: false
        },
        {
          text: 'Rol',
          value: 'role',
          sortable: false
        },
        {
          text: 'Editar',
          value: 'actions',
          sortable: false
        }
      ]
    }
  },
  methods: {
    editPerson(item) {
      this.dialogstatus1 = true
      this.personAsProp = item
    }
  }
}
</script>
