<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Editar cliente </v-card-title
        ><v-container
          ><v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-briefcase
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.name"
                  placeholder="Nombre"
                  :rules="clientRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-numeric
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.code"
                  placeholder="Código"
                  :rules="clientRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.street"
                  placeholder="Dirección"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.cp"
                  placeholder="Código Postal"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newClient.town" placeholder="Ciudad" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.province"
                  placeholder="Provincia"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-card-account-details
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.cif"
                  placeholder="CIF"
                  :rules="clientRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-at
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.invoicing_email"
                  placeholder="Email principal"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-phone
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newClient.telephone"
                  placeholder="Teléfono principal"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-switch v-model="activenew" :label="'Activo'"></v-switch>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newClient.typename"
                  :items="loadedClientTypes"
                  item-text="description"
                  outlined
                  dense
                  chips
                  small-chips
                  :return-object="true"
                  label="Elige un tipo de cliente..."
                  :rules="clientRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions></v-card
      >
    </v-dialog>
  </v-form>
</template>
<script>
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
export default {
  name: 'EditClient',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    client: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    newClient: cloneDeep({}),
    type: null,
    activenew: false,
    clientRules: [(v) => !!v || 'Este campo es obligatorio']
  }),

  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    ...mapGetters({
      loadedClientTypes: 'clientTypes/loadedClientTypes'
    })
  },
  watch: {
    value() {
      this.newClient = cloneDeep(this.client)
      this.type = this.client.typename
      this.activenew = this.client.active
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      this.newClient.type = this.newClient.typename.id || this.newClient.type
      this.newClient.active = this.activenew
      this.$axios
        .$patch('clients/' + this.newClient.id + '/', this.newClient)
        .then((data) => {
          this.dialogActive = false
          this.$store.dispatch('clients/updateClient', data)
        })
    }
  }
}
</script>
