<template>
  <v-col cols="2" class="pt-0">
    <v-card color="green lighten-3" max-width="300" outlined>
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-4">
            {{ client.name }}
          </div>
          <v-list-item-title class="headline mb-1">
            {{ project.code }}
            {{ project.cif }}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ client.invoicing_email }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </v-col>
</template>
<script>
export default {
  name: 'RecentClients',
  props: {
    client: {
      type: Object,
      required: true
    }
  },
  computed: {
    postLink() {
      return this.isAdmin ? '/admin/' + this.id : '/posts/' + this.id
    }
  }
}
</script>
