<template>
  <div>
    <v-card outlined color="white"
      ><v-card-text class="pb-1 primary--text">
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-account</v-icon> Usuario:</h4>
            </div>
            <div>{{ absence.username }}</div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-calendar</v-icon> Fecha Desde:</h4>
            </div>
            <div>{{ date(absence.startdate) }}</div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-calendar</v-icon> Fecha Hasta:</h4>
            </div>
            <div>{{ date(absence.enddate) }}</div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-format-list-bulleted-type</v-icon> Tipo:
              </h4>
            </div>
            <div>{{ absence.typename }}</div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-clock</v-icon> Hora Desde:</h4>
            </div>
            <div>{{ absence.starttime }}</div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-clock</v-icon> Hora Hasta:</h4>
            </div>
            <div>{{ absence.endtime }}</div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-alarm</v-icon> Estado:</h4>
            </div>
            <div v-if="absence.status == 'P'">
              Pendiente
            </div>
            <div v-if="absence.status == 'C'">
              Confirmada
            </div>
            <div v-if="absence.status == 'D'">
              Rechazada
            </div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-calendar</v-icon> Ejercicio:</h4>
            </div>
            <div>{{ absence.financial_year }}</div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-comment</v-icon> Comentario:</h4>
            </div>
            <div>{{ absence.comment }}</div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { format } from 'date-fns'
export default {
  name: 'AbsenceDetail',
  props: {
    absence: {
      type: Object,
      required: true
    }
  },
  methods: {
    date(n) {
      return format(new Date(n), 'dd-MM-yyyy')
    }
  }
}
</script>
