<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text"
          >Solicitar ausencia
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-autocomplete
                v-model="absenceRequest.user"
                :items="employees"
                item-text="user.username"
                outlined
                dense
                chips
                small-chips
                label="Trabajador"
                :return-object="true"
                :rules="absenceRules"
                required
              ></v-autocomplete>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-autocomplete
                v-model="absenceRequest.type"
                :items="absencetypes"
                item-text="description"
                outlined
                dense
                chips
                small-chips
                label="Elige el tipo de ausencia..."
                :rules="absenceRules"
                required
                :return-object="true"
              ></v-autocomplete>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-menu
                ref="menu1"
                v-model="startDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="absenceRequest.startdate"
                    label="Fecha de inicio"
                    prepend-icon="mdi-calendar"
                    readonly
                    :rules="absenceRules"
                    required
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="absenceRequest.startdate"
                  no-title
                  :first-day-of-week="1"
                  locale="es-es"
                  @input="startDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-menu
                ref="menu1"
                v-model="startHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="absenceRequest.starttime"
                    label="Hora de incio"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="absenceRequest.starttime" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu1.save(absenceRequest.starttime)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="absenceRequest.enddate"
                    label="Fecha de finalización"
                    prepend-icon="mdi-calendar"
                    :rules="absenceRules"
                    required
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="absenceRequest.enddate"
                  no-title
                  :first-day-of-week="1"
                  locale="es-es"
                  @input="endDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-menu
                ref="menu1"
                v-model="endHourMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="absenceRequest.endtime"
                    label="Hora de finalización"
                    prepend-icon="mdi-clock-outline"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-model="absenceRequest.endtime" scrollable
                  ><v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu1.save(absenceRequest.endtime)"
                    >OK</v-btn
                  >
                </v-time-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-calendar
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="absenceRequest.financial_year"
                  placeholder="Ejercicio"
                  :rules="absenceRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="12">
              <v-textarea
                v-model="absenceRequest.comment"
                label="Comentario"
                auto-grow
                outlined
                rows="1"
                row-height="15"
                shaped
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn color="success" class="white--text" @click="onSubmit()">
            Enviar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'AbsenceRequest',
  props: {
    value: {
      required: true,
      type: Boolean
    }
  },
  data: () => ({
    startDateMenu: false,
    endDateMenu: false,
    endHourMenu: false,
    startHourMenu: false,
    absenceRequest: {
      startdate: '',
      enddate: '',
      type: '',
      user: '',
      comment: '',
      starttime: '00:00',
      endtime: '23:59'
    },
    absenceRules: [(v) => !!v || 'Este campo es obligatorio']
  }),
  computed: {
    ...mapGetters({
      employees: 'employees/loadedEmployees',
      absencetypes: 'absenceTypes/loadedAbsenceTypes'
    }),
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      this.absenceRequest.user = this.absenceRequest.user.user.id
      this.absenceRequest.type = this.absenceRequest.type.id
      this.$axios.$post('/absences/', this.absenceRequest).then((data) => {
        this.dialogActive = false
      })
    }
  }
}
</script>
