<template
  ><div id="absences talbe">
    <v-data-table :headers="headers" :items="absences">
      <template v-slot:[`item.status`]="{ item }">
        <v-chip :color="getColor(item.status)" dark>{{
          getName(item.status)
        }}</v-chip></template
      >
      <template v-slot:[`item.startdate`]="{ item }">
        {{ getDateFormatted(item.startdate) }}
      </template>
      <template v-slot:[`item.enddate`]="{ item }">
        {{ getDateFormatted(item.enddate) }}
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <template v-if="item.status === 'P' && isManager">
          <v-hover v-slot:default="{ hover }">
            <v-icon
              small
              :color="hover ? 'error' : 'grey'"
              @click="denyAbsence(item)"
            >
              mdi-thumb-down
            </v-icon>
          </v-hover>
          <v-hover v-slot:default="{ hover }">
            <v-icon
              small
              :color="hover ? 'success' : 'grey'"
              @click="approveAbsence(item)"
            >
              mdi-thumb-up
            </v-icon>
          </v-hover>
        </template>
        <template v-if="item.status !== 'P' && isManager">
          <v-hover v-slot:default="{ hover }">
            <v-icon
              small
              :color="hover ? 'secondary' : 'grey'"
              @click="editAbsence(item)"
            >
              mdi-pencil
            </v-icon>
          </v-hover>
        </template>
      </template>
      <template v-slot:[`item.eyes`]="{ item }">
        <v-hover v-slot:default="{ hover }">
          <v-btn
            outlined
            icon
            color="white"
            :to="'/timeManagment/' + item.id + '/'"
            style="text-decoration: none;"
          >
            <v-icon small :color="hover ? 'secondary' : 'grey'">
              mdi-eye
            </v-icon>
          </v-btn>
        </v-hover></template
      >
    </v-data-table>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { format } from 'date-fns'
export default {
  name: 'AbsencesTable',
  props: {
    absences: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      select: [],
      newa: [],
      dialogstatus: false,
      aheaders: [
        {
          text: 'Trabajador',
          align: 'start',
          value: 'username'
        },
        {
          text: 'Fecha de inicio',
          value: 'startdate'
        },
        {
          text: 'Fecha de finalización',
          value: 'enddate'
        },
        {
          text: 'Duración (días)',
          value: 'duration'
        },
        {
          text: 'Tipo de ausencia',
          value: 'typename'
        },
        {
          text: 'Ejercicio',
          value: 'financial_year'
        },
        {
          text: 'Estado',
          value: 'status'
        },
        {
          text: 'Acciones',
          value: 'actions',
          sortable: false
        },
        {
          text: 'Ver',
          value: 'eyes',
          sortable: false
        }
      ],
      bheaders: [
        {
          text: 'Trabajador',
          align: 'start',
          value: 'username'
        },
        {
          text: 'Fecha de inicio',
          value: 'startdate'
        },
        {
          text: 'Fecha de finalización',
          value: 'enddate'
        },
        {
          text: 'Tipo de ausencia',
          value: 'typename'
        },
        {
          text: 'Estado',
          value: 'status'
        },
        {
          text: 'Ver',
          value: 'eyes',
          sortable: false
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      isManager: 'isManager'
    }),
    headers() {
      if (this.$store.getters.isManager) {
        return this.aheaders
      }
      return this.bheaders
    }
  },
  methods: {
    getColor(status) {
      if (status === 'C') return 'success third--text'
      else if (status === 'P') return 'yellow primary--text'
      else return 'error third--text'
    },
    denyAbsence(item) {
      this.$axios
        .$patch('absences/' + item.id + '/', {
          status: 'D'
        })
        .then((data) => this.$store.dispatch('absences/updateAbsence', data))
    },
    approveAbsence(item) {
      this.$axios
        .$patch('absences/' + item.id + '/', {
          status: 'C'
        })
        .then((data) => this.$store.dispatch('absences/updateAbsence', data))
    },
    editAbsence(item) {
      this.$axios
        .$patch('absences/' + item.id + '/', {
          status: 'P'
        })
        .then((data) => this.$store.dispatch('absences/updateAbsence', data))
    },
    getName(status) {
      if (status === 'C') return 'Confirmada'
      else if (status === 'P') return 'Pendiente'
      else return 'Denegada'
    },
    getDateFormatted(date) {
      return format(new Date(date), 'dd-MM-yyyy')
    }
  }
}
</script>
