<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex" width="600px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          ¿Está seguro de que desea eliminar esta ausencia?
        </v-card-title>
        <v-card-actions>
          <v-btn depressed-small color="success" @click="confirm()">
            Sí
          </v-btn>
          <v-btn color="error" class="white--text" @click="deny()">
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
export default {
  name: 'RemoveAbsence',
  props: {
    value: {
      required: true,
      type: Boolean
    },
    absence: {
      type: Object,
      required: true
    }
  },
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    confirm() {
      this.$axios.$delete('/absences/' + this.absence.id + '/').then((data) => {
        this.dialogActive = false
      })
    },
    deny() {
      this.dialogActive = false
    }
  }
}
</script>
