<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Añadir un comentario</v-card-title
        ><v-container>
          <v-col class="aling-center justify-space-between" cols="12">
            <v-textarea
              v-model="newComment.comment"
              label="Añade un nuevo comentario"
              auto-grow
              outlined
              rows="3"
              row-height="25"
              shaped
            ></v-textarea>
          </v-col>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="error" @click="dialogActive = false">
            Cancelar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions></v-card
      >
    </v-dialog>
  </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    project: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    newComment: {
      comment: '',
      project: '',
      user: '',
      task: null
    }
  }),

  computed: {
    ...mapGetters({
      employees: 'employees/loadedEmployees',
      loggedinuser: 'loggedInUser'
    }),
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    onSubmit() {
      this.newComment.project = this.project.id
      this.newComment.user = this.loggedinuser.user.id
      this.$axios.$post('comments/', this.newComment).then((data) => {
        this.dialogActive = false
      })
    }
  }
}
</script>
