<template>
  <v-form>
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          ¿Seguro que desea eliminar el comentario?</v-card-title
        ><v-container>
          <v-col class="aling-center justify-space-between" cols="12"
            ><v-card-tex>{{ comment.comment }}</v-card-tex>
          </v-col>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="error" @click="dialogActive = false">
            Cancelar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Confirmar
          </v-btn>
        </v-card-actions></v-card
      >
    </v-dialog>
  </v-form>
</template>
<script>
import { cloneDeep } from 'lodash'
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    comment: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    newComment: cloneDeep({})
  }),

  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  watch: {
    value() {
      this.newComment = cloneDeep(this.comment)
    }
  },
  methods: {
    onSubmit() {
      this.$axios
        .$delete('comments/' + this.newComment.id + '/')
        .then((data) => {
          this.dialogActive = false
        })
    }
  }
}
</script>
