<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Editar un proyecto
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-clipboard-file
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.name"
                  placeholder="Nombre"
                  :rules="projectRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-numeric
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newProject.code" placeholder="Código" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-map-marker
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.address"
                  placeholder="Link a Maps"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field v-model="newProject.street" placeholder="Calle" />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.cp"
                  placeholder="Código Postal"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.province"
                  placeholder="Provincia"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-office-building
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProject.town"
                  placeholder="Municipio"
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newProject.clientname"
                  :items="loadedClients"
                  item-text="name"
                  outlined
                  dense
                  chips
                  small-chips
                  :return-object="true"
                  label="Elige un cliente..."
                  :rules="projectRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newProject.managername"
                  :items="loadedManagers"
                  item-text="username"
                  outlined
                  dense
                  chips
                  small-chips
                  :return-object="true"
                  label="Elige un manager..."
                  :rules="projectRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newProject.typename"
                  :items="projectTypes"
                  item-text="description"
                  outlined
                  dense
                  chips
                  small-chips
                  :return-object="true"
                  label="Elige un tipo de proyecto..."
                  :rules="projectRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-autocomplete
                  v-model="newProject.statusname"
                  :items="projectStatus"
                  item-text="description"
                  outlined
                  :return-object="true"
                  dense
                  chips
                  small-chips
                  label="Elige un estado..."
                  :rules="projectRules"
                  required
                ></v-autocomplete>
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="ml-5">
                <v-switch
                  v-model="switch1"
                  :label="'Pendiente de facturar'"
                ></v-switch>
              </v-row>
            </v-col>
            <v-col cols="6" lg="6">
              <v-menu
                ref="menu1"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newProject.start_date"
                    label="Fecha de inicio"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newProject.start_date"
                  no-title
                  :first-day-of-week="1"
                  locale="es-es"
                  @input="startDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6" lg="6">
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newProject.budget_date"
                    label="Fecha de presupuesto"
                    prepend-icon="mdi-calendar"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newProject.budget_date"
                  no-title
                  :first-day-of-week="1"
                  locale="es-es"
                  @input="budgetDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6" lg="6">
              <v-menu
                v-model="endDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="newProject.end_date"
                    label="Fecha de Finalización"
                    prepend-icon="mdi-calendar"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newProject.end_date"
                  no-title
                  :first-day-of-week="1"
                  locale="es-es"
                  @input="endDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="12">
              <v-textarea
                v-model="newProject.description"
                label="Observaciones"
                auto-grow
                outlined
                rows="3"
                row-height="25"
                shaped
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit(newProject)"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
<script>
// eslint-disable-next-line no-unused-vars
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
export default {
  name: 'EditProject',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    project: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    newProject: cloneDeep({}),
    client: null,
    manager: null,
    type: null,
    status: null,
    switch1: false,
    endDateMenu: false,
    projectRules: [(v) => !!v || 'Este campo es obligatorio']
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    ...mapGetters({
      loadedClients: 'clients/loadedClients',
      projectStatus: 'projectStatus/loadedProjectStatus',
      loadedManagers: 'managers/loadedManagers',
      projectTypes: 'projectTypes/loadedProjectTypes'
    })
  },
  watch: {
    value() {
      this.newProject = cloneDeep(this.project)
      this.client = this.project.clientname
      this.manager = this.project.managername
      this.type = this.project.typename
      this.status = this.project.statusname
      this.switch1 = this.project.invoiced
    }
  },

  methods: {
    validate() {
      this.$refs.form.validate()
    },
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
    onSubmit() {
      if (this.newProject.managername.user) {
        this.newProject.manager = this.newProject.managername.user.id
      }
      this.newProject.client =
        this.newProject.clientname.id || this.newProject.client

      this.newProject.type = this.newProject.typename.id || this.newProject.type
      this.newProject.status =
        this.newProject.statusname.id || this.newProject.status
      this.newProject.invoiced = this.switch1
      this.$axios
        .$patch('projects/' + this.newProject.id + '/', this.newProject)
        .then((data) => {
          this.dialogActive = false
          this.$store.dispatch('projects/updateProject', data)
        })
    }
  }
}
</script>
