<template>
  <v-form ref="form">
    <v-dialog v-model="dialogActive" class="d-inline-flex pa-2" width="800px">
      <v-card>
        <v-card-title class="secondary darken-1 third--text">
          Editar planificación </v-card-title
        ><v-container
          ><v-row class="mx-2">
            <v-col class="aling-center justify-space-between" cols="12">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-calendar-month
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProjectHour.month"
                  placeholder="Mes"
                  :rules="monthRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-calendar-month
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProjectHour.year"
                  placeholder="Año"
                  :rules="planningRules"
                  required
                />
              </v-row>
            </v-col>
            <v-col class="aling-center justify-space-between" cols="6">
              <v-row align="center" class="mr-0">
                <v-avatar color="grey lighten-5" size="40px" class="mx-3">
                  <v-icon>
                    mdi-currency-usd
                  </v-icon>
                </v-avatar>
                <v-text-field
                  v-model="newProjectHour.budg_hours"
                  placeholder="Horas Presupuestadas"
                  :rules="planningRules"
                  required
                />
              </v-row>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed-small color="warning" @click="validate()">
            Validar
          </v-btn>
          <v-btn
            depressed-small
            type="submit"
            color="success"
            @click="onSubmit()"
          >
            Guardar
          </v-btn>
        </v-card-actions></v-card
      >
    </v-dialog>
  </v-form>
</template>
<script>
import { cloneDeep } from 'lodash'
export default {
  name: 'EditPlanning',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    planning: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    newProjectHour: cloneDeep({}),
    planningRules: [(v) => !!v || 'Este campo es obligatorio'],
    monthRules: [
      (v) => !!v || 'Este campo es obligatorio',
      (v) => (v && v < 13) || 'Debe indicarse el número de mes (ej.: 12)'
    ]
  }),
  computed: {
    dialogActive: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  watch: {
    value() {
      this.newProjectHour = cloneDeep(this.planning)
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    onSubmit() {
      this.$axios
        .$patch(
          'projectshours/' + this.newProjectHour.id + '/',
          this.newProjectHour
        )
        .then((data) => {
          this.dialogActive = false
        })
    }
  }
}
</script>
