<template>
  <v-data-table :headers="headers" :items="projecthours">
    <template v-slot:item.actions="{ item }">
      <v-hover v-slot:default="{ hover }">
        <v-icon
          size="medium"
          :color="hover ? 'blue' : 'grey'"
          @click="editPlanning(item)"
        >
          mdi-pencil
        </v-icon>
      </v-hover>
      <EditPlanning
        v-model="dialogstatus1"
        :planning="planningAsProp"
      /> </template
  ></v-data-table>
</template>
<script>
import EditPlanning from '@/components/Projects/EditPlanning'
export default {
  name: 'PlanningTable',
  components: { EditPlanning },
  props: {
    projecthours: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      dialogstatus: false,
      dialogstatus1: false,
      planningAsProp: {},
      headers: [
        {
          text: 'Año',
          align: 'start',
          value: 'year'
        },
        {
          text: 'Mes',
          value: 'month'
        },
        {
          text: 'Horas Presupuestadas',
          value: 'budg_hours'
        },
        {
          text: 'Horas Reales',
          value: 'real_hours'
        },
        {
          text: 'Editar',
          value: 'actions',
          sortable: false
        }
      ]
    }
  },
  methods: {
    editPlanning(item) {
      this.dialogstatus1 = true
      this.planningAsProp = item
    }
  }
}
</script>
