<template>
  <div>
    <v-col>
      <v-card width="13.3rem" height="15rem" class="d-flex flex-column">
        <v-card-title class="projecttitle"
          >{{ project.code }} {{ project.name }}
        </v-card-title>
        <v-card-text class="primary--text">
          <div>
            <v-icon small>mdi-briefcase</v-icon>
            {{ project.clientname }}
          </div>
          <div>
            <v-icon small>mdi-format-list-bulleted-type</v-icon>
            {{ project.typename }}
          </div>
          <div><v-icon small>mdi-clock</v-icon> {{ project.statusname }}</div>
        </v-card-text>
        <v-spacer></v-spacer>
        <v-card-actions class="justify-center">
          <v-hover v-slot:default="{ hover }">
            <v-btn
              outlined
              x-small
              :color="hover ? 'secondary' : 'primary'"
              @click="editProject(project)"
            >
              <v-icon x-small>mdi-pencil</v-icon>EDITAR
            </v-btn>
          </v-hover>
          <v-hover v-slot:default="{ hover }"
            ><v-btn
              outlined
              x-small
              :color="hover ? 'secondary' : 'primary'"
              :to="'/projects/' + project.id + '/'"
            >
              <v-icon x-small>mdi-eye</v-icon> DETALLE
            </v-btn></v-hover
          >
        </v-card-actions>
      </v-card>
      <EditProject v-model="dialogstatus" :project="projectAsProp" />
    </v-col>
  </div>
</template>
<style>
.projecttitle {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  color: #34421e;
  letter-spacing: 0.0125em !important;
  line-height: 1.5rem !important;
  word-break: break-word !important;
  text-align: left;
  text-align-last: left;
}
</style>
<script>
import EditProject from '@/components/Projects/EditProject'
export default {
  name: 'ProjectPreview',
  components: { EditProject },
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      projectAsProp: {},
      dialogstatus: false
    }
  },
  computed: {
    postLink() {
      return this.isAdmin ? '/admin/' + this.id : '/posts/' + this.id
    }
  },
  methods: {
    editProject(project) {
      this.dialogstatus = true
      this.projectAsProp = project
    }
  }
}
</script>
