<template>
  <div>
    <v-data-table
      v-model="select"
      :headers="headers"
      :items="projects"
      :single-select="false"
    >
      <template v-slot:top>
        <div class="d-flex">
          <v-text-field
            v-model="filterByCode"
            class="cllient-table-filter-headers-code"
            label="Filtrar por código"
          >
          </v-text-field>
          <v-text-field
            v-model="filterByClient"
            class="client-table-filter-headers-name ml-2"
            label="Filtrar por cliente"
          >
          </v-text-field>
          <v-text-field
            v-model="filterByName"
            class="client-table-filter-headers-name ml-2"
            label="Filtrar por nombre"
          >
          </v-text-field>
          <v-autocomplete
            v-model="modelManager"
            class="client-table-filter-headers-name ml-2"
            :filter="filterElementsFrom"
            :items="filterManagers"
            :search-input="searchManager"
            multiple
            outlined
            clearable
            :value="searchManager"
            item-text="username"
            label="Filtrar por manager"
          >
            <template v-slot:selection="{ item, index }">
              <v-chip v-if="index === 0">
                <span>{{ item.username }}</span>
              </v-chip>
              <v-chip v-if="index === 1">
                <span>{{ item.username }}</span>
              </v-chip>
              <v-chip v-if="index === 2" rounded
                >+{{ modelManager.length - 2 }}
              </v-chip>
            </template>
          </v-autocomplete>
          <v-autocomplete
            v-model="modelStatus"
            class="client-table-filter-headers-name ml-2"
            :filter="filterElementsFrom"
            :items="filterStatus"
            :search-input="searchStatus"
            multiple
            outlined
            clearable
            :value="searchStatus"
            item-text="description"
            label="Filtrar por estado"
          >
            <template v-slot:selection="{ item, index }">
              <v-chip v-if="index === 0">
                <span>{{ item.description }}</span>
              </v-chip>
              <v-chip v-if="index === 1">
                <span>{{ item.description }}</span>
              </v-chip>
              <v-chip v-if="index === 2" rounded
                >+{{ modelStatus.length - 2 }}
              </v-chip>
            </template>
          </v-autocomplete>
        </div>
      </template>
      <template v-slot:[`item.name`]="{ item }">
        <nuxt-link :to="'/projects/' + item.id + '/'">
          {{ item.name }}
        </nuxt-link>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
/* import { format } from 'date-fns' */
export default {
  props: {
    projects: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      select: [],
      filterByCode: '',
      filterByClient: '',
      filterByName: '',
      searchManager: '',
      searchStatus: '',
      modelManager: [],
      modelStatus: [],
      filterManagers: cloneDeep({}),
      filterStatus: cloneDeep({})
    }
  },
  computed: {
    ...mapGetters({
      favoriteProjects: 'projects/loadedFavouriteProjects',
      user: 'loggedInUser',
      managers: 'managers/loadedManagers',
      projectStatus: 'projectStatus/loadedProjectStatus'
    }),
    headers() {
      return [
        {
          text: 'Código',
          align: 'start',
          value: 'code',
          filter: (value, search, item) => {
            if (this.filterByCode === '') return true
            return value.toString().includes(this.filterByCode)
          }
        },
        {
          text: 'Cliente',
          value: 'clientname',
          filter: (value, search, item) => {
            if (this.filterByClient === '') return true
            return value
              .toString()
              .toLowerCase()
              .includes(this.filterByClient)
          }
        },
        {
          text: 'Nombre',
          value: 'name',
          filter: (value, search, item) => {
            if (this.filterByName === '') return true
            return value
              .toString()
              .toLowerCase()
              .includes(this.filterByName)
          }
        },
        {
          text: 'Manager',
          value: 'managername',
          filter: (value, search, item) => {
            if (this.modelManager.length <= 0) return true
            return this.modelManager.includes(value)
          }
        },
        {
          text: 'Estado',
          value: 'statusname',
          filter: (value, search, item) => {
            if (this.modelStatus.length <= 0) return true
            return this.modelStatus.includes(value)
          }
        },
        {
          text: 'Fecha Presupuesto',
          value: 'budget_date'
        }
      ]
    }
  },
  /* mounted() {
    this.projects.map((e) => {
      e.budget_date = format(new Date(e.budget_date), 'dd-MM-yyyy')
    })
  }, */
  created() {
    this.filterManagers = cloneDeep(this.managers)
    this.filterStatus = cloneDeep(this.projectStatus)
  },
  methods: {
    onPress(item) {
      const favItem = this.favoriteProjects.find((e) => e.project === item.id)
      if (
        item.favourite === true &&
        this.favoriteProjects.length > 0 &&
        favItem
      ) {
        const favItem = this.favoriteProjects.find((e) => e.project === item.id)
        this.$store.dispatch('projects/deleteFavoriteProject', favItem.id)
        item.favourite = !item.favourite
        const index = this.projects.indexOf(item)
        Object.assign(this.favoriteProjects)
        Object.assign(this.projects[index], item)
      }
      if (item.favourite === false && !favItem) {
        this.$axios
          .$post('http://127.0.0.1:8000/favouriteprojects/', {
            project: item.id,
            user: this.user.id
          })
          .then((e) => {
            this.$store.dispatch('projects/addFavoriteProject', e)
          })
        item.favourite = !item.favourite
        const index = this.projects.indexOf(item)
        Object.assign(this.favoriteProjects)
        Object.assign(this.projects[index], item)
      }
    },
    filterElementsFrom(item, queryText, itemText) {
      const text = itemText
      const query = queryText
      return text
        .toString()
        .toLowerCase()
        .includes(query.toString().toLowerCase())
    }
  }
}
</script>
