<template>
  <div class="pt-0">
    <v-card outlined color="white">
      <v-card-title class="primary--text"
        >{{ projectDetail.code }} {{ projectDetail.name }}
      </v-card-title>
      <v-card-subtitle class="primary--text">
        {{ projectDetail.description }}
      </v-card-subtitle>
      <v-card-text class="primary--text">
        <v-row>
          <v-col>
            <div>
              <h4>
                <v-btn tile x-small icon>
                  <a
                    :href="'//' + projectDetail.address"
                    style="text-decoration: none;"
                    ><v-icon color="secondary">mdi-map-marker</v-icon></a
                  >
                </v-btn>
                Dirección:
              </h4>
            </div>
            <div>
              {{ projectDetail.street }}
            </div>
            <div>{{ projectDetail.cp }} {{ projectDetail.town }}</div>
            <div>{{ projectDetail.province }}</div>
          </v-col>
          <v-col>
            <div>
              <h4><v-icon small>mdi-briefcase</v-icon> Cliente:</h4>
            </div>
            <div>
              <nuxt-link :to="'/clients/' + projectDetail.client + '/'">
                {{ projectDetail.clientname }}
              </nuxt-link>
            </div>
          </v-col>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-format-list-bulleted-type</v-icon> Tipo:
              </h4>
            </div>
            <div>
              {{ projectDetail.typename }}
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4><v-icon small>mdi-clock</v-icon> Estado:</h4>
            </div>
            <div>
              {{ projectDetail.statusname }}
            </div>
          </v-col>
          <v-col
            ><div>
              <h4>
                <v-icon small>mdi-currency-eur</v-icon> Pendiente de facturar:
              </h4>
            </div>
            <div v-if="project.invoiced == true">
              Sí
            </div>
            <div v-if="project.invoiced == false">
              No
            </div></v-col
          >
          <v-col>
            <div>
              <h4><v-icon small>mdi-account</v-icon> Manager:</h4>
            </div>
            <div>
              {{ projectDetail.managername }}
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-calendar-range</v-icon> Fecha de presupuesto:
              </h4>
            </div>
            <div>
              {{ date(projectDetail.budget_date) }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-calendar-range</v-icon> Fecha de inicio:
              </h4>
            </div>
            <div>
              {{ date(projectDetail.start_date) }}
            </div>
          </v-col>
          <v-col>
            <div>
              <h4>
                <v-icon small>mdi-calendar-range</v-icon> Fecha de finalización:
              </h4>
            </div>
            <div>
              {{ date(projectDetail.end_date) }}
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
import { format } from 'date-fns'
export default {
  name: 'ProjectResume',
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  data: () => ({ fav: false, projectDetail: cloneDeep({}) }),
  computed: {
    postLink() {
      return this.isAdmin ? '/admin/' + this.id : '/posts/' + this.id
    },
    ...mapGetters({
      projects: 'projects/loadedProjects'
    })
  },
  created() {
    this.projectDetail = this.projects.find(
      (item) => item.id === this.project.id
    )
  },
  methods: {
    date(n) {
      return format(new Date(n), 'dd-MM-yyyy')
    }
  }
}
</script>
