<template>
  <div>
    <v-row class="pl-3 pr-3"
      ><h2 class="font-weight-light secondary--text">Listado de proyectos</h2>
      <v-spacer></v-spacer>
      <v-btn
        v-if="isManager"
        class="button-bottom"
        rounded
        small
        color="secondary"
        @click.stop="dialogstatus = true"
      >
        <v-icon small>mdi-plus</v-icon> PROYECTO
      </v-btn>
    </v-row>
    <v-row>
      <v-col>
        <ProjectTable :projects="projects" />
      </v-col>
    </v-row>
    <AddProject v-model="dialogstatus" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import ProjectTable from '@/components/Projects/ProjectTable'
import AddProject from '@/components/Projects/AddProject'
export default {
  components: {
    ProjectTable,
    AddProject
  },
  props: {
    projects: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    projectsTocards: [],
    dialogstatus: false,
    projectName: '',
    description: '',
    code: '',
    address: '',
    street: '',
    cp: '',
    town: '',
    province: '',
    type: '',
    status: ''
  }),
  computed: {
    ...mapGetters({
      isManager: 'isManager'
    })
  },
  created() {
    // eslint-disable-next-line no-console
    // this.projectsTocards = this.projects.slice(0, 5)
  }
}
</script>
<style scoped>
.v-dialog__content {
  margin-top: 0%;
  align-items: center;
}
</style>
