<template>
  <v-timeline dense>
    <v-timeline-item
      v-for="(n, idx) in comments"
      :key="idx"
      :icon="getUserAvatar(n.username)"
      icon-color="secondary"
      color="third"
      fill-dot
      large
    >
      <v-card>
        <v-card-subtitle class="comment-sub"
          ><v-row>
            <v-col cols="10"
              >{{ n.username }} el {{ createdOn(n.created_date) }}:</v-col
            >
            <v-col cols="2"
              ><v-icon small right @click="deleteComment(n)">mdi-delete</v-icon
              ><DeleteComment
                v-model="dialogdelete"
                :comment="commentAsProp"
              /> </v-col
          ></v-row>
        </v-card-subtitle>
        <v-card-text class="comment-text text--primary">{{
          n.comment
        }}</v-card-text>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>
<style>
.comment-sub {
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.375rem;
  margin-bottom: 0;
  letter-spacing: 0.0071428571em;
}
.comment-text {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
</style>
<script>
import { formatRelative } from 'date-fns'
import { es } from 'date-fns/locale'
import DeleteComment from '@/components/Projects/DeleteComment'
export default {
  name: 'Timeline',
  components: {
    DeleteComment
  },
  props: {
    comments: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    dialogdelete: false,
    commentAsProp: {}
  }),
  methods: {
    getUserAvatar(a) {
      return a.substring(0, 2).toUpperCase()
    },
    createdOn(n) {
      return formatRelative(new Date(n), new Date(), {
        locale: es
      })
    },
    deleteComment(comment) {
      this.dialogdelete = true
      this.commentAsProp = comment
    }
  }
}
</script>
