<template>
  <div id="app">
    <v-row align="center" justify="center">
      <v-col cols="12" md="3" class="pl-3"
        ><h2 class="font-weight-light secondary--text">
          Registro Horario
        </h2></v-col
      >
      <v-col cols="12" md="3"
        ><v-btn
          rounded
          class="button-bottom"
          color="secondary"
          small
          @click="dialogstatus2 = true"
        >
          REGISTRAR HORA EXTRA
        </v-btn></v-col
      >
      <v-col cols="12" md="3"
        ><v-btn
          v-if="isManager"
          rounded
          class="button-bottom"
          color="secondary"
          small
          @click.stop="dialogstatus = true"
        >
          EXPORTAR REGISTRO MENSUAL
        </v-btn></v-col
      >
      <v-col cols="12" md="3"
        ><v-btn
          v-if="isManager"
          rounded
          class="button-bottom"
          color="secondary"
          small
          :to="'/records/'"
        >
          VER REGISTROS
        </v-btn></v-col
      >
    </v-row>
    <v-container class="pt-5" fluid fill-height>
      <v-layout class="pt-2" align-center justify-center>
        <v-flex class="pt-2" xs12 sm8 md4>
          <v-card outlined>
            <v-card-title class="primary--text justify-center"
              ><span>
                {{ new Date().toLocaleDateString('es-ES', options) }}</span
              ></v-card-title
            >
            <v-divider class="mx-2 secondary"></v-divider>
            <v-card-text class="pb-1 primary--text text-center">
              <v-row>
                <v-col>
                  <h3>Inicio</h3>
                </v-col>
                <v-col>
                  <h3>Fin</h3>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <div v-if="loadedRecords.length < 1">
                    <h3>--:--</h3>
                  </div>
                  <div v-else>
                    {{ loadedRecords[0].start.substring(0, 5) }}
                  </div>
                </v-col>
                <v-col>
                  <div v-if="loadedRecords < 1">
                    <h3>--:--</h3>
                  </div>
                  <div v-else>
                    <div v-if="loadedRecords[0].stop">
                      {{ loadedRecords[0].stop.substring(0, 5) }}
                    </div>
                    <div v-else>
                      <h3>--:--</h3>
                    </div>
                  </div>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <div
                    v-if="
                      loadedRecords.length === 1 || loadedRecords.length < 1
                    "
                  >
                    <h3>--:--</h3>
                  </div>
                  <div v-else>
                    {{ loadedRecords[1].start.substring(0, 5) }}
                  </div>
                </v-col>
                <v-col>
                  <div
                    v-if="
                      loadedRecords.length === 1 || loadedRecords.length < 1
                    "
                  >
                    <h3>--:--</h3>
                  </div>
                  <div v-else>
                    <div v-if="loadedRecords[1].stop">
                      {{ loadedRecords[1].stop.substring(0, 5) }}
                    </div>
                    <div v-else>
                      <h3>--:--</h3>
                    </div>
                  </div>
                </v-col>
              </v-row>
              <div v-if="status !== ''">
                <v-btn small outlined color="secondary" @click="submit">{{
                  status
                }}</v-btn>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <GetMonthlyRecord v-model="dialogstatus" />
      <OvertimeRecord v-model="dialogstatus2" />
    </v-container>
  </div>
</template>
<style>
.action {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
<script>
import GetMonthlyRecord from '@/components/DayRecord/GetMonthlyRecord'
import OvertimeRecord from '@/components/DayRecord/OvertimeRecord'
export default {
  components: { GetMonthlyRecord, OvertimeRecord },
  async asyncData({ store, context }) {
    await store.dispatch('dayRecords/fetchDayRecords')
    await store.dispatch('employees/fetchEmployees')
  },
  data: () => ({
    currentDate: new Date(),
    dialogstatus: false,
    dialogstatus2: false,
    dialogstatus3: false,
    options: { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
  }),
  computed: {
    loadedRecords() {
      return this.$store.getters['dayRecords/workingRecord']
    },
    status() {
      let status = ''
      if (this.loadedRecords.length < 1) {
        status = 'Iniciar mañana'
      }
      if (this.loadedRecords.length === 1 && !this.loadedRecords[0].stop) {
        status = 'Finalizar mañana'
      }
      if (this.loadedRecords.length === 1 && this.loadedRecords[0].stop) {
        status = 'Iniciar Tarde'
      }
      if (this.loadedRecords.length === 2 && !this.loadedRecords[1].stop) {
        status = 'Finalizar Tarde'
      }
      return status
    },
    isManager() {
      if (this.$store.getters.isManager) {
        return true
      }
      return false
    }
  },
  methods: {
    submit() {
      if (this.loadedRecords.length === 0) {
        this.$axios
          .$post('workingdayrecord/')
          .then((data) => this.$store.dispatch('dayRecords/addDayRecord', data))
      }
      if (this.loadedRecords.length === 1 && !this.loadedRecords[0].stop) {
        this.$axios
          .$patch('workingdayrecord/' + this.loadedRecords[0].id + '/')
          .then((data) =>
            this.$store.dispatch('dayRecords/updateDayRecord', data)
          )
      }
      if (this.loadedRecords.length === 1 && this.loadedRecords[0].stop) {
        this.$axios
          .$post('workingdayrecord/')
          .then((data) => this.$store.dispatch('dayRecords/addDayRecord', data))
      }
      if (this.loadedRecords.length === 2 && !this.loadedRecords[1].stop) {
        this.$axios
          .$patch('workingdayrecord/' + this.loadedRecords[1].id + '/')
          .then((data) =>
            this.$store.dispatch('dayRecords/updateDayRecord', data)
          )
      }
    }
  }
}
</script>
